/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    
   #pho {
    margin-right: 110px;
    }
     .theme-btn call-popup{
    padding: 5px; 
    margin: 10px 5px 0px 0px; 
    float:right;
     }
    
.howItwotk{
    margin: 17% 0% 0% -23% !important;
    width: 151%;
    height: 210%;
}
.donatenow{
margin-left: 18%;
}

}
@media only screen 
and (min-device-width : 412px) {
     #pho {
    margin-right: 150px;
    }
    .theme-btn call-popup{
    padding: 5px; 
    margin: 10px 5px 0px 0px; 
    float:right;
     }
     .donatenow{
margin-left: 18%;
}

}
/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
   .theme-btn call-popup{
    padding: 5px; 
    margin: 10px 5px 0px 0px; 
    float:right;
     }
     .donatenow{
margin-left: 18%;
}

/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
     #pho {
    margin-right: 110px;
    }
    .theme-btn call-popup{
        margin: -24px 5px 0px 0px; 
    }
    .donatenow{
margin-left: 18%;
}

/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    .theme-btn call-popup{
    padding: 5px; 
    margin: 10px 5px 0px 0px; 
    float:right;
     }
     .donatenow{
margin-left: 18%;
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    .theme-btn call-popup{
    padding: 5px; 
    margin: 10px 5px 0px 0px; 
    float:right;
     }
     .donatenow{
margin-left: 18%;
}
.howItwotk {
       margin: -1% 27% 28% -12% !important;
    width: 124%;
    height: 210%;
}

/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1023px) 
and (orientation : portrait) {
    .theme-btn call-popup{
    padding: 5px; 
    margin: 10px 5px 0px 0px; 
    float:right;
     }
     .donatenow{
margin-left: 18%;
}
.howItwotk {
    margin: 5% 41% 30% -2% !important;
    width: 93%;
    height: 210%;
}
#pho{
    margin-top:10%;
}
}

/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (max-device-width : 1366px) 
and (min-width : 1024px) {
    .theme-btn call-popup{
    padding: 5px; 
    margin: 10px 5px 0px 0px; 
    float:right;
     }
     .donatenow{
margin-left: 18%;
}
.howItwotk {
    margin: -4% 0% 0% -9% !important;
    width: 81%;
    height: 210%;
}
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
    .theme-btn call-popup{
    padding: 5px; 
    margin: 10px 5px 0px 0px; 
    float:right;
     }
     .donatenow{
margin-left: 18%;
}
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */.theme-btn call-popup{
    padding: 5px; 
    margin: 10px 5px 0px 0px; 
    float:right;
     }
}