.sign-up {float: right;}
.sign-up a{padding: 0px!important; font-size: 12px;}
.sign-up > ul > li:hover > ul {    width: 180px; position: absolute!important; right: 0!important;}
.sign-up > ul > li ul:after {  background: #3a3a3a;}
.sign a {padding: 10px!important;}
ul > .sign{ float: left;}
.sign-up > ul > li ul li {   padding: 0 15px; }
.inline-list.registration-btn > li a { font-size: 12px; }
.inline-list > li {  font-size: 12px; }
