<div class="theme-layout"  ng-controller="RegCOntroller" ng-init="getall_details()">
      <div ng-include=" 'views/common/header.html' "></div>
   <div ng-include=" 'views/common/responsiveheader.html' "></div>

<div class="popup" >
        <div class="popup-centre">

            <div class="login-form popup-form" ng-controller="RegCOntroller">
                <span class="close-btn"><i class="fa fa-remove"></i> Close</span>
                 <strong>Login With <span>Social Credentials</span></strong>
                
                
                <form >

                    <div class="row" ng-show="logineduser">
               
                         <form align="center" role="form" >
                                <br>

                               

                                   <a  class="btn btn-block btn-warning btn-social btn-lg btn-google" ng-click="onGoogleLogin()"><i class="fa fa-google"></i>&ensp;Login</a>
                                  <br>
                                  <a  class="btn btn-block  btn-primary btn-social btn-lg btn-facebook" ng-click="FBlogin()"><i class="fa fa-facebook"></i>&ensp;Login</a>
                              
                              </form>
                              <br>
                              <div class="newregister">New Registration</div>
                               <a class="newuserfont" ng-click="newuser()"><b>New user register here</b></a>
                    </div>
                    <div class="newUserReg" ng-show="newUserReg">
                        <form align="center" role="form" >

                        <div class="selectrole">
                            <label class="radio-inline">
                            <input type="radio" name="userReg" ng-click="Register('NGO')"><span class="roleclass">NGO </span><span class="glyphicon glyphicon-home"></span>
                            </label>
                            <label class="radio-inline">
                            <input type="radio" name="userReg" ng-click="Register('Donor_Volunter')"><span class="roleclass">Donor/Volunteer</span> <span class="glyphicon glyphicon-user"></span>
                            </label>
                            </div>
                            <div ng-show="roleSelected">
                                <a  class="btn btn-block  btn-warning btn-social btn-lg btn-google" ng-click="onGoogleLogin()"><i class="fa fa-google"></i>&ensp;Login</a>
                                <br>
                                <a  class="btn btn-block  btn-primary btn-social btn-lg btn-facebook" ng-click="FBlogin()"><i class="fa fa-facebook"></i>&ensp;Login</a>
                                </div>
                        </form>
                         <p class="Alrtext"> Already have an account?<a ng-click="ExistingUser()">Login</a></p>
                    </div>
                </form>
                
               
              
            </div><!-- Sign Up Form -->

        </div>
    </div><!-- Popup -->

    <div class="page-top">
        <div class="container">
            <div class="page-title">
                <div data-velocity="-.2" style="background: url(images/resource/parallax7.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible"></div><!-- PARALLAX BACKGROUND IMAGE -->
                <h2 style="margin-top: 53px;">About <strong>Us</strong></h2>
                <ul>
                    <li><a itemprop="url" href="index.html" title="">Home</a></li>
                    <li>About Us</li>
                </ul>
            </div><!-- Page Title -->
        </div>
    </div><!-- Page Top -->

  <section style="margin-bottom: 5%;">
       
                <div class="row" style=" margin: 5% 5% 0% 5%; ">
                    
                            The primary purpose of this organization is to facilitate the exchange of donated goods amongst the NGO’s based on their needs. NGO’s usually try to receive goods that cater to their charter (for example: 
                            NGO in support of Children would only need items related to children and NGO’s in support of education may be in need of books, stationery, clothes, shoes, etc), thus putting the burden on the donor to do the segregation.
                            In many cases, in the process of solicitation and collection, they would end up collecting various different items, that may not be suitable for their charter or cause of support.
                            Either they discard such goods or give it to someone who may not be in real need of such goods
                     <br> </br>The portal will enable the NGO’s to list the items that they are willing to share/exchange for others in need to see, solicit and collect the goods. The above process will encourage donors </span>to donate anything and everything in kind to the choice of their NGO and yet be confident and comfortable that all the donated goods would reach the needy through one of the NGO. 
                      </br>The portal also facilitates individuals to register for Volunteering at the entity of their choice.  It provides opportunity for the volunteers to choose the things that they could do the most, including transportation of the items between the soliciting and donating entities that is within the proximity or enroute to their daily commute.  For school children, they can register and volunteer to create inventory of the goods to be exchanged.  For corporates, they could facilitate the drives for collection of goods and transfer of goods for their chosen NGO.
                      <br>
                      <br>
                      <div>For those individuals contributors who chose to donate to the NGO of choice in monetary terms, it provides an option to donate through the Payment gateway.</div>
                   
                   
                </div>
      
      
                 <div class="row"  style=" margin:5% 5% 0% 5%; border-color: #ded7d7;  ">
                            <div class="col-md-2" style="text-align: left;" >
                                   <div class="about" >
                                       <img  src="images/team1.jpg" style="width:90%;" />
                                   </div>
                             </div>
                            The idea was conceived by <b>Krithik Chitla</b> with the challenges faced during his volunteer work
                                 conducted during his high school years. Krithik Chitla is a bubbly teenager who is framing his future to be an Economist and/or Entrepreneur.
                                 His passion revolves around Social Entrepreneurship. He currently is in 12th grade at Chirec Public School in Hyderabad, India and aspires to 
                                 pursue higher education at one of the finest schools in the world in his subject of interest. He is a sports enthusiast and plays football for his school. 
                                 His dream is to make the lives of NGO’s and general public easier when it comes to donations and distribution of goods amongst NGO’s to help satisfy the
                                 needs and requirements through this platform. He strongly feels about the idea and hope that people will make use of the platform to help people in need all
                                 the while remaining confident that the donations are for a just cause.

                           <br>The idea is supported by his father <b>Santhosh Chitla</b> and many friends and well-wishers with their moral, financial and technical know-how support.
                               
                              
                                                     
                    
                </div>
          
    
    </section>


<!--   <section>
        <div class="about" >
       <div class="container" style="border: 0.5px solid;border-color:#bfbaba;width: 67%;">
              <div class="row" >
                    <div class="col-md-5">
                           <div class="about">
                               <img  src="images/team1.jpg" style="width: 49%;" />
                           </div>
                                </div>
                                <div class="col-md-7 " style="margin-left: 24%;margin-top: -20%;">
                                    Krithik Chitla
                      12th grader in CHIREC in the Science Stream with Economics of CBSE 
                      Hey, my name is Krithik Chitla. I'm a 12th grader in CHIREC in the Science Stream with Economics of CBSE. My life revolves around Football, pizza and copious amount of sleep. I've been to my fair share of public speaking events - MUN's, debates and the like. Beyond this, I watch a lot of TV (The Blacklist anyone?) and play a lot of FIFA. I plan on majoring in Political Science and Economics after high school at any college that takes me.
                                </div>
                              </div>
        </div>
        </div>
    </section>
    -->
 </div>
<script src="js/jquery-2.1.4.js" type="text/javascript"></script>
<script src="js/jquery.poptrox.min.js" type="text/javascript"></script>
<script src="js/jquery.plugin.min.js"></script>
<script src="js/script.js"></script>