<div class="theme-layout"  ng-controller="RegCOntroller" ng-init="getall_details()">
    <div ng-include=" 'views/common/header.html' "></div>
        <div ng-include=" 'views/common/responsiveheader.html' "></div>
    <div class="popup" >
        <div class="popup-centre">

            <div class="login-form popup-form" ng-controller="RegCOntroller">
                <span class="close-btn"><i class="fa fa-remove"></i> Close</span>
                 <strong>Login With <span>Social Credentials</span></strong>
                
                
                <form >

                    <div class="row" ng-show="logineduser">
               
                         <form align="center" role="form" >
                                <br>

                               

                                   <a  class="btn btn-block btn-warning btn-social btn-lg btn-google" ng-click="onGoogleLogin()"><i class="fa fa-google"></i>&ensp;Login</a>
                                  <br>
                                  <a  class="btn btn-block  btn-primary btn-social btn-lg btn-facebook" ng-click="FBlogin()"><i class="fa fa-facebook"></i>&ensp;Login</a>
                              
                              </form>
                              <br>
                              <div class="newregister">New Registration</div>
                               <a class="newuserfont" ng-click="newuser()"><b>New user register here</b></a>
                    </div>
                    <div class="newUserReg" ng-show="newUserReg">
                        <form align="center" role="form" >

                        <div class="selectrole">
                            <label class="radio-inline">
                            <input type="radio" name="userReg" ng-click="Register('NGO')"><span class="roleclass">NGO </span><span class="glyphicon glyphicon-home"></span>
                            </label>
                            <label class="radio-inline">
                            <input type="radio" name="userReg" ng-click="Register('Donor_Volunter')"><span class="roleclass">Donor/Volunteer</span> <span class="glyphicon glyphicon-user"></span>
                            </label>
                            </div>
                            <div ng-show="roleSelected">
                                <a  class="btn btn-block  btn-warning btn-social btn-lg btn-google" ng-click="onGoogleLogin()"><i class="fa fa-google"></i>&ensp;Login</a>
                                <br>
                                <a  class="btn btn-block  btn-primary btn-social btn-lg btn-facebook" ng-click="FBlogin()"><i class="fa fa-facebook"></i>&ensp;Login</a>
                                </div>
                        </form>
                         <p class="Alrtext"> Already have an account?<a ng-click="ExistingUser()">Login</a></p>
                    </div>
                </form>
                
               
              
            </div><!-- Sign Up Form -->

        </div>
    </div><!-- Popup -->

 

    <div class="page-top">
        <div class="container">
            <div class="page-title">
                <div data-velocity="-.2" style="background: url(images/resource/parallax7.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible"></div><!-- PARALLAX BACKGROUND IMAGE -->
<!--                <h2>WELFARE <strong>Contact</strong></h2>-->
<!--                 <h2>CONTACT <strong>Us</strong></h2>-->
                 <h2 style="margin-top: 53px;" >Contact <span>Us</span></h2>
                                
                <ul>
              <!-- <li  style=" margin-right: -9px;"><a  href="index.html" title="">Home</a>
                    <li>Contact</li></li>-->
                 <li><a  href="index.html" >Home /</a>
               <span><a>Contact</a></span></li>
                </ul>
            </div><!-- Page Title -->
        </div>
    </div><!-- Page Top -->
   
     
<!--     <section>
        <div class="block gray" >
            <div class="container">
                <div class="row">
                    <div class="col-md-12 column">
                        <div class="contact-box overlap" style="margin-top: -50px;" >
                            <div class="title">
                                <h2>CONTACT <span>Us</span></h2>
                                <span>Committed To Providing The Best</span>
                            </div>
                            <div class="countries-contact">
                                <ul role="tablist" class="nav nav-tabs" id="myTab">
                                    <li class="active"><a itemprop="url" data-toggle="tab" href="#country1"><img itemprop="image" src="images/resource/flag1.jpg" alt="" /> Bangladesh</a></li>
                                    <li><a itemprop="url" data-toggle="tab"  href="#country2"><img itemprop="image" src="images/resource/flag2.jpg" alt="" /> Malaysia</a></li>
                                    <li><a itemprop="url" data-toggle="tab"  href="#country3"><img itemprop="image" src="images/resource/flag3.jpg" alt="" /> Vietnam</a></li>
                                    <li><a itemprop="url" data-toggle="tab"  href="#country4"><img itemprop="image" src="images/resource/flag4.jpg" alt="" /> Samoa</a></li>
                                    <li><a itemprop="url" data-toggle="tab"  href="#country5"><img itemprop="image" src="images/resource/flag5.jpg" alt="" /> Zambia</a></li>
                                    <li><a itemprop="url" data-toggle="tab"  href="#country6"><img itemprop="image" src="images/resource/flag1.jpg" alt="" /> Nepal</a></li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div id="country1" class="tab-pane fade active in" >
                                        <div class="row" style="margin-top: -102px;">
                                            <div class="col-md-6">
                                                <div class="contact-info">
                                                    <p>Quis autem velum iure reprehe nderit. Lorem ipsum dolor sit dum in sagittis. Nulla or narjusto laoreet onse ctetur adipisci adipiscing elitliquam vitae fring illa augue aliquet. Vestibulum rttitor nisl tempus et tristique pulvinar in sagitt is. Nulla or narjusto laoreet onse ctetur </p>

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <strong><i class="fa fa-home"></i>ADDRESS</strong>
                                                            <span>#8901 Marmora Road City, Vietnam</span>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <strong><i class="fa fa-envelope"></i>EMAIL ID</strong>
                                                            <span>info@domainname.com</span>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <strong><i class="fa fa-phone"></i>PHONE NO</strong>
                                                            <span>+00 035 835 282   /   +00 034 965 353</span>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <strong><i class="fa fa-link"></i>WEB ADDRESS</strong>
                                                            <span>http://www.yourwebsite.com</span>
                                                        </div>
                                                    </div>
                                                </div> Contact Info 
                                            </div>
                                            <div class="col-md-6">
                                                <div></div>
                                                <form class="" method="post" action="" name="contactform">
                                                    <div class="row">

                                                        <div class="col-md-3 form-group">Name: </div><div class="col-md-9 form-group"><input class="form-control" name="name" type="text" placeholder="" /></div>
                                                        <div class="col-md-3 form-group">Email: </div><div class="col-md-9 form-group"><input class="form-control" name="email" type="text" placeholder="" /></div>
                                                        <div class="col-md-3 form-group">Message: </div><div class="col-md-9 form-group"><textarea class="form-control" name="comments" placeholder=""></textarea></div>

                                                        <div class="col-md-12"><button type="submit" id="submit" class="btn btn-success">Send Message</button></div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->

    
    

    <div class="wrasp" >



    <div class="panel-body P_body" >
      <form role="form">


        
        <!-- col-md-7 -->

        <div class="contact-form-full col-md-4 col-sm-4 col-xs-11">

          <div class="inner contact">
            <!-- Form Area -->
            <div class="contact-form">
              <!-- Form -->
              <form id="contact-us" method="post" action="#">
                <!-- Left Inputs -->
              <!-- End Left Inputs -->
                <!-- Right Inputs -->
               <!-- End Right Inputs -->
                <!-- Bottom Submit -->
                <!-- End Bottom Submit -->
                <!-- Clear -->
                <div class="clear"></div>
              </form>

              <!-- Your Mail Message -->
              <div class="mail-message-area">
                <!-- Message -->
                
              </div>

            </div><!-- End Contact Form Area -->
          </div><!-- End Inner -->
        </div>
        <!-- wrapper -->
        </section>
        <section class="map">
<!--          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3798.583429153761!2d83.38755411444588!3d17.811264587825878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a395a45f8254a4b%3A0x7f6c5c021fe92c46!2sMOURI+Tech+(P)+Ltd!5e0!3m2!1sen!2sin!4v1482927173197" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>-->
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15222.622056443848!2d78.3813508!3d17.4761946!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x83d70918805ca1bc!2sIndu+Fortune+Fields+Gardenia+Apartments!5e0!3m2!1sen!2sin!4v1511530803345" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </section>
      </form>
    </div>
  </div>
</div><!-- Google Map Section -->



   
    





    <div class="donation-popup">
        <div class="container">
            <div class="popup-centralize">
                <span class="close"><i class="fa fa-remove"></i></span>
                <div class="parallax" style="background:url(images/resource/parallax5.jpg) repeat scroll 0 0 rgba(0, 0, 0, 0);" data-velocity="-.1"></div><!-- PARALLAX BACKGROUND IMAGE -->
                <div class="donation-intro">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="make-donation">
                                <span>We Need Your Support</span>
                                <h5>Make a <i>Donation</i></h5>
                                <p>Quis autem velum iure reprehe nderit. Lorem ipsum dolor sitelit. Cras sapien neqqrue, biben dum in sagittis. Nulla or narjusto laoreet onse ctetur adipiscing.</p>
                            </div><!-- Make Donation -->
                        </div>
                        <div class="col-md-8">
                            <div class="select-cause">
                                <div class="cause-selectbox">
                                    <select class="select">
                                        <option>Cause 1</option>
                                        <option>Cause 2</option>
                                        <option>Cause 3</option>
                                        <option>Cause 4</option>
                                        <option>Cause 5</option>
                                        <option>Cause 6</option>
                                        <option>Cause 7</option>
                                        <option>Cause 8</option>
                                    </select>
                                </div><!-- Cause Select Box -->

                                <div class="urgent-progress">
                                    <div class="row">
                                        <div class="col-md-4"><div class="amount"><i>$</i> 3830<span>CURRENT COLLECTION</span></div></div>
                                        <div class="col-md-4"><div class="amount"><i>$</i> 5403<span>TARGET NEEDED</span></div></div>
                                        <div class="col-md-offset-1 col-md-3"><div class="circular"><input class="knob" data-fgColor="#e47257" data-bgColor="#dddddd" data-thickness=".10" readonly value="84"/><span>Completed</span> </div></div>
                                    </div>
                                </div>
                            </div><!-- Select Cause -->
                        </div>
                    </div>
                </div><!-- Donation Intro -->

                <div class="payment-box">
                    <ul class="frequency">
                        <li><a itemprop="url" class="active" href="#" title="">One Time</a></li>
                        <li><a itemprop="url" href="#" title="">Daily</a></li>
                        <li><a itemprop="url" href="#" title="">Weekly</a></li>
                        <li><a itemprop="url" href="#" title="">Fortnightly</a></li>
                        <li><a itemprop="url" href="#" title="">Monthly</a></li>
                        <li><a itemprop="url" href="#" title="">Half Yearly</a></li>
                    </ul><!-- Frequency -->
                    <div class="donation-fields">
                        <div class="col-md-6 col-md-offset-3">
                            <select class="select">
                                <option>Currency 1</option>
                                <option>Currency 2</option>
                                <option>Currency 3</option>
                                <option>Currency 4</option>
                                <option>Currency 5</option>
                                <option>Currency 6</option>
                                <option>Currency 6</option>
                            </select>
                        </div>
                        <div class="col-md-8 col-md-offset-2">
                            <div class="your-donation">
                                <strong class="popup-title">YOUR DONATION</strong>
                                <ul class="donation-figures">
                                    <li><a itemprop="url" class="wpdonation-button active" href="#" title="">$ 10.00</a></li>
                                    <li><a itemprop="url" class="wpdonation-button" href="#" title="">$ 50.00</a></li>
                                    <li><a itemprop="url" class="wpdonation-button" href="#" title="">$ 100.00</a></li>
                                    <li><a itemprop="url" class="wpdonation-button" href="#" title="">$ 500.00</a></li>
                                    <li><a itemprop="url" href="#" title="">Other Amount</a></li>
                                </ul>
                                <div class="donation-amount"><div class="textfield"><textarea placeholder="Enter The Amount You Want">$ 10.00</textarea></div></div>
                                <a itemprop="url" class="proceed proceed-to-donate" href="#" title="">Proceed</a>
                            </div><!-- Your Donation -->
                        </div>
                        <div class="select-payment">
                            <strong class="popup-title">Select Your Payment Option</strong>
                            <div class="payment-type">
                                <ul role="tablist" class="nav nav-tabs" id="child-tab">
                                    <li class="active"><a itemprop="url" data-toggle="tab" href="#credit">Credit Card</a></li>
                                    <li><a itemprop="url" data-toggle="tab" href="#transfer">Banking Transfer</a></li>
                                    <li><a itemprop="url" data-toggle="tab" href="#paypal">Paypal</a></li>
                                </ul>
                                <div class="tab-content" id="myTabContent2">
                                    <div id="credit" class="tab-pane fade active in">
                                        <p>In Case of credit card ,Transaction in Doller($) will be accepted.</p>
                                        <div class="form">
                                            <div class="col-md-offset-3 col-md-6">
                                                <div class="textfield"><input type="text" placeholder="Enter your 16 digit card number" /></div>
                                            </div>
                                            <div class="col-md-5 col-md-offset-1">
                                                <select class="select">
                                                    <option>Option 1</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                </select>
                                            </div>
                                            <div class="col-md-5">
                                                <select class="select">
                                                    <option>Option 1</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                </select>
                                            </div>
                                            <div class="col-md-offset-3 col-md-6">
                                                <div class="textfield"><input type="text" placeholder="Card Verification Number" /><img itemprop="image" src="images/resource/volunteer.jpg" alt="" /></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Select Donation -->
                        <div class="personal-detail">
                            <strong class="popup-title">PERSONAL DETAILS</strong>
                            <div class="form-group">
                                <div class="col-md-6"><div class="textfield"><input placeholder="First Name" type="text"></div></div>
                                <div class="col-md-6"><div class="textfield"><input placeholder="Last Name" type="text"></div></div>
                                <div class="col-md-6"><div class="textfield"><input placeholder="Email Id" type="email"></div></div>
                                <div class="col-md-6"><div class="textfield"><input placeholder="Phone Number" type="text"></div></div>
                                <div class="col-md-12"><div class="textfield"><input placeholder="Address" type="text"></div></div>
                                <div class="col-md-12"><div class="textfield"><textarea placeholder="Detail"></textarea></div></div>
                                <div class="donate-now"><a itemprop="url" class="proceed" href="#" title="">Donate Now</a></div>
                            </div>
                        </div><!-- Personal Detail -->
                    </div>
                </div><!-- Payment Box -->
            </div><!-- Popup Centralize -->
        </div>
    </div><!-- Donation Popup -->


</div><!-- Theme Layout -->



<!-- SCRIPTS-->

<!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script> -->
<script src="js/jquery-2.1.4.js" type="text/javascript"></script>
<script src="js/jquery.poptrox.min.js" type="text/javascript"></script>
<script src="js/jquery.plugin.min.js"></script>
<script src="js/script.js"></script>
