<div ng-include=" 'views/common/header.html' "></div>
<div class="theme-layout" ng-controller="InventoryController" ng-init="ngoreqiestsindonor();Check_functionw();">
    <div ng-include=" 'views/common/responsiveheader.html' "></div>
    <div class="popup" >
        <div class="popup-centre">

            <div class="login-form popup-form" ng-controller="RegCOntroller">
                <span class="close-btn"><i class="fa fa-remove"></i> Close</span>
                 <strong>Login With <span>Social Credentials</span></strong>
                
                
                <form >

                    <div class="row" ng-show="logineduser">
               
                         <form align="center" role="form" >
                                <br>

                               

                                   <a  class="btn btn-block btn-warning btn-social btn-lg btn-google" ng-click="onGoogleLogin()"><i class="fa fa-google"></i>&ensp;Login</a>
                                  <br>
                                  <a  class="btn btn-block  btn-primary btn-social btn-lg btn-facebook" ng-click="FBlogin()"><i class="fa fa-facebook"></i>&ensp;Login</a>
                              
                              </form>
                              <br>
                              <div class="newregister">New Registration</div>
                               <a class="newuserfont" ng-click="newuser()"><b>New user register here</b></a>
                    </div>
                    <div class="newUserReg" ng-show="newUserReg">
                        <form align="center" role="form" >

                        <div class="selectrole">
                            <label class="radio-inline">
                            <input type="radio" name="userReg" ng-click="Register('NGO')"><span class="roleclass">NGO </span><span class="glyphicon glyphicon-home"></span>
                            </label>
                            <label class="radio-inline">
                            <input type="radio" name="userReg" ng-click="Register('Donor_Volunter')"><span class="roleclass">Donor/Volunteer</span> <span class="glyphicon glyphicon-user"></span>
                            </label>
                            </div>
                            <div ng-show="roleSelected">
                                <a  class="btn btn-block  btn-warning btn-social btn-lg btn-google" ng-click="onGoogleLogin()"><i class="fa fa-google"></i>&ensp;Login</a>
                                <br>
                                <a  class="btn btn-block  btn-primary btn-social btn-lg btn-facebook" ng-click="FBlogin()"><i class="fa fa-facebook"></i>&ensp;Login</a>
                                </div>
                        </form>
                         <p class="Alrtext"> Already have an account?<a ng-click="ExistingUser()">Login</a></p>
                    </div>
                </form>
                
               
              
            </div><!-- Sign Up Form -->

        </div>
    </div><!-- Popup -->


<div class="page-top">
        <div class="container">
            <div class="page-title">
                <div data-velocity="-.2" style="background: url(images/resource/parallax7.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible"></div><!-- PARALLAX BACKGROUND IMAGE -->
                <h2 style="margin-top: 53px;">Current <strong>Requests</strong></h2>
                <ul>
                    <li><a itemprop="url" href="index.html" title="">Home</a></li>
                    <li>CurrentRequests</li>
                </ul>
            </div><!-- Page Title -->
        </div>
    </div>




   <section>
        <div class="block gray" >
            <div class="container" >
                <div class="row">
                     <p ng-show="showreq" class="notext">There is no request.</p>
                   <div class="table scr" ng-show="DonorData">
                        <table class="table table-fixed">
                            <thead>
                              <tr>
                               <th width="15%">NGO Details</th>
                               <th width="15%">Donor Details</th>
                               <th width="10%">Items</th>
                               <th width="10%">Quantity</th>
                               <th width="15%">Donated Quantity</th>
                               <th width="10%">Purpose</th>
                               <th width="10%">Needed By</th>
<!--                               <th>Request Date</th>-->
                               <th width="10%">Action</th>
                               </tr>
                          </thead>
                             <tbody>
                                <tr dir-paginate="x in donoronloaddata | itemsPerPage:5">
                                  <td>{{x.ngoname}}
                                  <div style="margin-bottom: 10px;">
                                  <div style="font-weight: bold;">Contact Number:</div>
                                  <div class="nameaddress">{{x.ngocontact}}</div>
                                  <div class="nameaddress">{{x.ngoEmail}}</div>
                                    <div style="font-weight: bold;">Address:</div>
                                    <div class="nameaddress">{{x.NgoAddress}}</div>
                                  </div>
                                  </td>

                                  <td>{{x.donorName}}
                                  <div style="margin-bottom: 10px;">
                                  <div style="font-weight: bold;">Contact Number:</div>
                                  <div class="nameaddress">{{x.donorNumber}}</div>
                                  <div class="nameaddress">{{x.donorEmail}}</div>
                                    <div style="font-weight: bold;">Address:</div>
                                    <div class="nameaddress">{{x.DonorAddress}}</div>
                                  </div>
                                  </td>                                  
                                  <td>{{x.itemname}}</td>                                  
                                  <td>{{x.requiredquantity}}</td>
                                  <td>{{x.currentquantityneeded}}</td>
                                  <td>{{x.ngopurpose}}</td>
                                  <td>{{x.neededby | date : "dd-MMM-yyyy"}}</td>

                                   <td  ng-hide="x.deliverystatus == 2 || x.deliverystatus == 1 || x.deliverystatus == 3||x.deliverystatus == 6 ||x.deliverystatus == 7 ||x.deliverystatus == 8" ><button class="btn btn-success don" data-toggle="modal" ng-click="getReq_ID(x.req_id,x.ngoitemid,x.ngoid,x.ngoname,x.itemname,x.requiredquantity,x.neededby,x.ngopurpose,x.ngoorgid,x.neededby,x.requesteddt,x.remainingquantityneeded,x.currentquantityneeded)"  data-target="#myModal" value="Accept">Donate</button></td>
                                   <td ng-show="x.deliverystatus == 6">
                                   <div class="bttn" style="margin-bottom: 10px"><button class="btn btn-success don" data-toggle="modal" ng-click="getReq_ID(x.req_id,x.ngoitemid,x.ngoid,x.ngoname,x.itemname,x.requiredquantity,x.neededby,x.ngopurpose,x.ngoorgid,x.neededby,x.requesteddt,x.remainingquantityneeded,x.currentquantityneeded)"  data-target="#myModal" value="Accept">Donate</button></div>
                                   <div class="bttn"><button class="btn btn-success don">Accept Pickup</button></div>
                                   </td>
                                   <td ng-show="x.deliverystatus == 7">
                                     <div class="bttn" style="margin-bottom: 10px">
                                     <button class="btn btn-danger don">Cancel</button></div>
                                     <div class="bttn"><button class="btn btn-success don">Delivery Pending</button></div>
                                   </td>
                                   <td ng-show="x.deliverystatus == 8">
                                   <div class="bttn" style="margin-bottom: 10px"><button class="btn btn-danger don">Cancel
                                   </button></div>
                                   <div class="bttn"><button class="btn btn-success don">Cancel Pickup</button></div>
                                   </td>
                                     <td ng-show="x.deliverystatus == 2">
                                   <!-- <div class="bttn" style="margin-bottom: 10px"><button class="btn btn-danger don">Cancel
                                   </button></div>
                                   <div class="bttn"><button class="btn btn-success don">Delivery Pending</button></div> -->
                                   <div class="btn btn-success">Accept Pickup</div>
                                   </td>
                                     <td ng-show="x.deliverystatus == 3">
                                   <!-- <div class="bttn" style="margin-bottom: 10px"><button class="btn btn-danger don">Cancel
                                   </button></div>
                                   <div class="bttn"><button class="btn btn-success don">Delivery Pending</button></div> -->
                                   <div class="btn btn-success" >Donate</div>
                                   </td>

                                   
                                </tr>
                             </tbody>
                             
                          </table>   
                        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                             
                       </dir-pagination-controls>
                            </div>
                            </div>
                         <fieldset ng-show="PAR_Ngo">
                             <form name="request">
                                            <legend style="color:#42b3e5; font-size:16px;">REQUEST DETAILS: <span style="font-size:10pt; color:#000;">Your donation details</span></legend>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="contactperson">NGO Name:</label>
                                                       <input type="text" class="form-control" ng-model="ORGName" disabled>
<!--                                                     {{ORGName}}-->
                                              
                                                    </div>

                                                    
                                                        <div class="form-group">
                                                        <label for="City">Needed By:</label>
                                                         <input type="text" class="form-control" value='{{NEDTime| date : "dd-MMM-yyyy"}}'  disabled>
                                                         
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="ngaddress" class="Astrik control-label">Ngo Address:</label>
                                                        <textarea type="text" class="form-control" ng-model="ngloc" col="5" rows="5" disabled></textarea>


                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Citys" data-valmsg-replace="true" id="valCity"></span>
                                                    </div>
                                               </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="contactperson">Items:</label>
                                                         <input type="text" class="form-control" ng-model="ItemNM" disabled>
                                                   
                                             
                                                    </div>

                                                    
                                                   
                                                      <div class="form-group">
                                                        <label for="Pincode">Pickup Needed:</label><br>
                                                        <input type="checkbox" id="Pickup" ng-model="PICK">

                                                    </div>

                                                </div>
                                                <div class="col-md-2">
                                                  
                                                    <div class="form-group">
                                                        <label for="contactperson"> Quantity:</label>
                                                         <input type="text" class="form-control" ng-model="currentquantity" disabled>
                                                        
                                              
                                                    </div>
                                                   
                                                    <div class="form-group" ng-hide="PICK" >
                                                        <label for="City" class="Astrik control-label">I Can Deliver By:</label>
                                                       <input type="date"  name="setTodaysDate" class="form-control" ng-model="DONSPT" placeholder="yyyy-mm-dd hh-mm-ss" required>


                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Citys" data-valmsg-replace="true" id="valCity"></span>
                                                    </div>
                                                    
                                                    <div class="form-group" ng-hide="!PICK">
                                                        <label for="City" class="Astrik control-label">Volunteer Can Pick By:</label>
                                                       <input type="date" name="setTodaysDate1" class="form-control" ng-model="Don_date" placeholder="yyyy-mm-dd hh-mm-ss" required>


                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Citys" data-valmsg-replace="true" id="valCity"></span>
                                                    </div>
                                                    
                                                   
                                               </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="contactperson"> Purpose:</label>
                                                         <input type="text" class="form-control" ng-model="PUrPOse" disabled>
                                                    </div>
                                                     
                                                    <div class="form-group">
                                                        <label for="contactperson" class="Astrik control-label">Donating Quantity:</label>
                                                        <input type="number" class="form-control" id="Quantity" name='Quantity' min="1"  ng-model="GQt" required>
                                                         
                                                    </div>
      
                                                    
                                                </div>
                                         
                                            </div>
                                        </form>
                                            <div class="btnd" style="margin-top: 21px;" align="center" >
                                            <input ng-show="donorlogin" type="submit" value="Submit" class="btn btn-success" ng-click="updaterequests()" ng-disabled="!GQt">
                                            
                                            <input ng-show="donorloginback" type="submit" value="Cancel" class="btn btn-danger" ng-click="send_back()">
                                            </div>
                                          

<!--                                            <input ng-show="donorlogin" type="submit" value="Submit" class="btn btn-success" ng-click="Donate()"  style="margin-left: 47%;margin-top: 21px;">
                                            <input ng-show="donorNotLogin" type="submit" value="Submit" class="btn btn-success" ng-click="Check_donor()"  style="margin-left: 47%;margin-top: 21px;">

                                            <input ng-show="donorlogin" type="submit" value="Submit" class="btn btn-success" ng-click="Donate()"  style="margin-left: 47%;margin-top: 21px;">
                                            <input ng-show="donorNotLogin" type="submit" value="Submit" class="btn btn-success donor" ng-click="Check_donor()"  style="margin-left: 47%;margin-top: 21px;">-->

                                            </fieldset>
                    
                                   
                                      

            
            </div>
        </div>
    </section>


  
<!-- Theme Layout -->
</div>
<script src="js/jquery-2.1.4.js" type="text/javascript"></script>
<script src="js/jquery.poptrox.min.js" type="text/javascript"></script>
<script src="js/jquery.plugin.min.js"></script>
<script src="js/script.js"></script>


