<div ng-include=" 'views/common/header.html' "></div>
<div class="theme-layout" ng-controller="RegCOntroller" ng-init="getall_details();Date_ofB()">

 <div ng-include=" 'views/common/responsiveheader.html' "></div>

    <div class="popup">
        <div class="popup-centre">
            <div class="signup-form popup-form">
                <span class="close-btn"><i class="fa fa-remove"></i> Close</span>
                <strong>JOIN FOR <span>DONATION</span></strong>
                <p>Quis autem velum iure reprehe nderit. Lorem ipsum dolor sit nulla or narjusto laoreet onse ctetur adipisci.</p>
                <form>
                    <div class="row">
                        <div class="col-md-12"><input type="text" placeholder="First Name" /></div>
                        <div class="col-md-12"><input type="text" placeholder="Last Name" /></div>
                        <div class="col-md-12"><input type="email" placeholder="youremail@yourdomain.com" /></div>
                        <div class="col-md-12"><input type="password" placeholder="Password" /></div>
                        <div class="col-md-12"><p>By creating an account, you agree to our <a itemprop="url" href="#" title="">Terms & Conditions.</a></p></div>
                        <div class="col-md-12"><input type="submit" value="Create Account" /></div>
                    </div>
                </form>
            </div><!-- Sign Up Form -->
            <div class="login-form popup-form">
                <span class="close-btn"><i class="fa fa-remove"></i> Close</span>
                <strong>LOGIN FOR <span>DONATION</span></strong>
                <p>Quis autem velum iure reprehe nderit. Lorem ipsum dolor sit nulla or narjusto laoreet onse ctetur adipisci.</p>
                <form>
                    <div class="row">
                        <div class="col-md-12"><input type="email" placeholder="youremail@yourdomain.com" /></div>
                        <div class="col-md-12"><input type="password" placeholder="Password" /></div>
                        <div class="col-md-12"><p><a itemprop="url" href="#" title="">Forget Password</a></p></div>
                        <div class="col-md-12"><input type="submit" value="LOG IN" /></div>
                    </div>
                </form>
            </div><!-- Sign Up Form -->
            <div class="add-inventory-form popup-form">
                <span class="close-btn"><i class="fa fa-remove"></i> Close</span>
                <strong>Category<span>Name</span></strong>
                <form>
                    <div class="row">
                        <div class="col-md-12"><input type="text" placeholder="" /></div>
                        <div class="col-md-12"><input type="submit" value="Add" /></div>
                    </div>
                </form>
            </div>
            <div class="add-subcategory-from popup-form">
                <span class="close-btn"><i class="fa fa-remove"></i> Close</span>
                <strong>Category<span>Name</span></strong>
                <form>
                    <div class="row">
                        <div class="col-md-12"><input type="text" placeholder="" /></div>
                        <div class="col-md-12"><input type="text" placeholder="" /></div>
                        <div class="col-md-12"><input type="submit" value="Add" /></div>
                    </div>
                </form>
            </div>
            <div class="add-sub-sub-category-from popup-form">
                <span class="close-btn"><i class="fa fa-remove"></i> Close</span>
                <strong>Category<span>Name</span></strong>
                <form>
                    <div class="row">
                        <div class="col-md-12"><input type="text" placeholder="" /></div>
                        <div class="col-md-12"><input type="text" placeholder="" /></div>
                        <div class="col-md-12"><input type="submit" value="Add" /></div>
                    </div>
                </form>
            </div>
            <!-- Sign Up Form -->
        </div>
    </div><!-- Popup -->

<!--    <div class="page-top" style="padding: 15px 0;">
        <div class="container">
            <div class="page-title">
                <div data-velocity="-.2" style="background: url(images/resource/parallax7.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible"></div> PARALLAX BACKGROUND IMAGE 
                <h2>SHOW REQUEST</h2>

            </div> Page Title 
        </div>
    </div> Page Top -->
<!--	<div class="page-top" style="padding: 15px 0;margin-top:150px;">
        <div class="container">
            <div class="page-title">
                <div data-velocity="-.2" style="background: url(images/resource/parallax7.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible"></div> PARALLAX BACKGROUND IMAGE 
                <h2>REQUEST</h2>

            </div> Page Title 
        </div>
    </div>-->
<div class="page-top">
        <div class="container">
            <div class="page-title">
                <div data-velocity="-.2" style="background: url(images/resource/parallax7.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible"></div><!-- PARALLAX BACKGROUND IMAGE -->
                <h2 style="margin-top: 53px;">DONOR/VOLUNTEER <strong>REGISTRATION</strong></h2>
                <ul>
                    <li><a itemprop="url" href="index.html" title="">Home</a></li>
                    <li>Donor_Volunteer</li>
                </ul>
            </div><!-- Page Title -->
        </div>
</div>
<section>
        <div class="block gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 column">
                        <div class="contact-box overlap">
                           
                            <div class="countries-contact">

                                <div class="tab-content" id="myTabContent">
                                    <div id="country1" class="tab-pane fade active in">

                                        <form class="" method="post"  name="contactform" novalidate>
										
										<fieldset>
                                            <legend style="color:#42b3e5; font-size:16px;">Basic Details</legend>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="organisationname">Full Name:</label>
                                                         
                                                        <input class="form-control regstr-txtbox text-box single-line" id="txtOrganisationName" maxlength="20" name="Organisationname" placeholder="Full Name" tabindex="1" type="text" ng-model="User_name" disabled >
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Organisationname" data-valmsg-replace="true" id="valOrganisationName"></span>

                                                    </div>
													
													<div class="form-group">
                                                        <label for="Email id">Email Address:</label>
														
                                                        <input class="form-control regstr-txtbox text-box single-line" id="txtEmailId" maxlength="100" name="Emailid" placeholder="Enter Email Id" tabindex="6" type="email" ng-model="Ema_il" id="emaila" disabled>
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Emailid" data-valmsg-replace="true" id="valEmailId"></span>
														</div>
														 <div class="row form-group hidden">
														<label  class="control-label col-md-offset-3 col-sm-2">Getting date with Time:</label>
														<div class="col-sm-3 col-md-3 input-group ">
														  <span>{{CurrentDate | date:'dd/ MM /yyyy'}}</span> <span>  {{CurrentDate | date:'hh:mm a'}}</span>
														  <br />
														</div>
													  </div>
												</div>
                                                <div class="col-md-3">
                                                    <div class="form-group" ng-class="{ 'has-error' : contactform.F_Name.$invalid && !contactform.F_Name.$pristine }">
                                                        <label for="organisationname" class="Astrik control-label">First Name:</label>
                                                        
                                                        <input class="form-control regstr-txtbox text-box single-line "   name="F_Name" placeholder="First Name" tabindex="1" type="text" ng-maxlength="50" id="usdsr" ng-model="F_Name" >
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Organisationname" data-valmsg-replace="true" id="valOrganisationName"></span>

                                                    </div>
                                                    <div class="form-group">
                                                        <label for="datew"  class="Astrik control-label">Date of Birth:</label>
														
                                                        <input class="form-control regstr-txtbox text-box single-line" id="txtEmailId" maxlength="100" name="Emailid" placeholder="Enter DOB" tabindex="6" type="date" ng-model="conve_DOB">
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Emailid" data-valmsg-replace="true" id="valEmailId"></span>



                                                    </div>
													</div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="organisationname">Middle Name:</label>
                                                        
                                                        <input class="form-control regstr-txtbox text-box single-line"  placeholder="Middle Name" tabindex="1" type="text" maxlength='25' id="usdsdr" ng-model="M_Name" >
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Organisationname" data-valmsg-replace="true" id="valOrganisationName"></span>

                                                    </div>
                                                    <div class="form-group" ng-class="{ 'has-error' : contactform.Con_number.$invalid && !contactform.Con_number.$pristine }" >
                                                        <label for="Mobile"  class="Astrik control-label">Mobile Number:</label>
														
                                                        <input class="form-control regstr-txtbox text-box single-line" id="txtMobileno" maxlength="10" name="Con_number" onkeypress="ValidateMobileNumberKeyPress(event);" placeholder="Enter Mobile No." tabindex="5" type="text" ng-pattern="/^((0091)|(\+91)|0?)[789]{1}\d{9}$/"  ng-model="Con_number"  class="form-control" id="contfract" required >
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Mobileno" data-valmsg-replace="true" id="valMobileno"></span>
                                                          <p ng-show="contactform.Con_number.$invalid && !contactform.Con_number.$pristine" class="help-block">Contactnumber is required.</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group" ng-class="{ 'has-error' : contactform.L_Name.$invalid && !contactform.L_Name.$pristine }">
                                                        <label for="organisationname"  class="Astrik control-label">Last Name:</label>
                                                       
                                                        <input class="form-control regstr-txtbox text-box single-line"  placeholder="Last Name" tabindex="1" type="text" name='L_Name'   ng-maxlength="50" id="susr" ng-model="L_Name" >
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Organisationname" data-valmsg-replace="true" id="valOrganisationName"></span>

                                                    </div>
													
                                                    <!-- <div class="form-group">
													<label for="usr" class="Astrik control-label col-md-offset-3 col-sm-2">Gender:</label>
													  <div class="col-sm-3 col-md-3 input-group " >
														<label class="radio-inline">
														  <input type="radio" ng-model="genDer" value="male" name="optradio">Male
														</label>
														<label class="radio-inline">
														  <input type="radio" ng-model="genDer" value="female" name="optradio">Female
														</label>
														
													  </div>
                                                       


                                                    </div> -->
													
													
													
													
                                                      <div class="form-group">
                                                        <label for="tinorregdno"  class="Astrik control-label">Gender:</label>

                                                        <select class="form-control" id="sel1" ng-model="genDer">
														  <option value="">Select Gender</option>
														  <option value="male">Male</option>
														  <option value="female">Female</option>
															</select>
                                                    </div>
                                                </div>
											
													
													
													
                                                </div>
                                        </fieldset>
                                            <fieldset style="margin-bottom: 20px;">
                                            <legend style="color:#42b3e5; font-size:16px;"  class="Astrik control-label">Register As:</legend>
<!--                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="">Donor
                                                    </label>
                                                    <label class="checkbox-inline">
                                                      <input type="checkbox" value="">Volunteer
                                                    </label>-->
                                          <label class="checkbox-inline">
                                            <input type="checkbox" ng-model="Do_check" ng-click="check_Donor()" value="Donor" >Donor
                                          </label>
                                          <label class="checkbox-inline">
                                            <input type="checkbox" ng-model="Volun_check" ng-click="check_Volun()" value="Volunteer" >Volunteer
                                          </label>
                                            </fieldset>
										
										<fieldset>
                                            <legend style="color:#42b3e5; font-size:16px;">Address Details</legend>

                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group" ng-class="{ 'has-error' : contactform.Address1.$invalid && !contactform.Address1.$pristine }">
                                                        <label for="Address1"  class="Astrik control-label">Address 1:</label>
														 
                                                        <input class="form-control regstr-txtbox text-box single-line" id="txtAddress1" maxlength="500" name="Address1" placeholder="Enter Address1" ng-pattern='/^[a-zA-Z0-9,\_\- ]*$/' ng-model="Addres_1" required>
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Address1" data-valmsg-replace="true" id="valAddress1"></span>
                                                         <p ng-show="contactform.Address1.$invalid && !contactform.Address1.$pristine" class="help-block">Address1 is required.</p>

                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Pincode"  class="Astrik control-label">Postal Code:</label>

                                                         <input type="text" class="form-control" name="Postal"  placeholder="postalcode" ng-pattern='/^[0-9\_\- ]*$/' maxlength="6" ng-model="Postal" required>


                                                        <span class="field-validation-valid text-danger" data-valmsg-for="States" data-valmsg-replace="true" id="valState"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
<!--                                                    <div class="form-group" ng-class="{ 'has-error':contactform.Addres_2.$invalid && !R_form.Addres_2.$pristine }" >
                                                        <label for="Addres_2"  class="Astrik control-label">Address2:</label>
														
                                                        <input class="form-control regstr-txtbox text-box single-line" id="txtAddress1" maxlength="20" name="Addres_2"  placeholder="Enter Address2" tabindex="5" type="text" ng-pattern='/^[a-zA-Z0-9\_\- ]*$/' ng-model="Addres_2" required>
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Addres_2" data-valmsg-replace="true" id="Addres_2"></span>
                                                          <p ng-show="contactform.Addres_2.$invalid && !contactform.Addres_2.$pristine" class="help-block">Address2 is required.</p>
                                                   
                                                    </div>-->
                                                        <div class="form-group" ng-class="{ 'has-error' : contactform.Addres_2.$invalid && !contactform.Addres_2.$pristine }">
                                                        <label for="Address1"  class="Astrik control-label">Address 2:</label>
														 
                                                        <input class="form-control regstr-txtbox text-box single-line" id="txtAddress2" maxlength="500" name="Addres_2" placeholder="Enter Address2" ng-pattern='/^[a-zA-Z0-9,\_\- ]*$/' ng-model="Addres_2" required>
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Address1" data-valmsg-replace="true" id="valAddress1"></span>
                                                         <p ng-show="contactform.Addres_2.$invalid && !contactform.Addres_2.$pristine" class="help-block">Address2 is required.</p>

                                                    </div>
                                                    
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group" ng-class="{ 'has-error' : contactform.state.$invalid && !contactform.state.$pristine }">
                                                        <label for="StreetName1"  class="Astrik control-label">State:</label>
                                                     <!--   <select  name="state" class="form-control" ng-model="State" id="State" ng-change='Get_sateID()' ng-init="showState();">
														  <option value="">Choose State</option>
														  <option ng-repeat="x in State_s" value="{{x}}">{{x}}</option>                 
														</select> -->
                                                          <input class="form-control regstr-txtbox text-box single-line" id="state" maxlength="20" name="state"  placeholder="Enter state" tabindex="5" type="text"  ng-model="state" required>
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="state" data-valmsg-replace="true" id="state"></span>
                                                          <p ng-show="contactform.state.$invalid && !contactform.state.$pristine" class="help-block">State is required.</p>
                                                    </div>
                                                   
                                                </div>
                                                <div class="col-md-3" >
                                                    <div class="form-group" ng-class="{ 'has-error' : contactform.city.$invalid && !contactform.city.$pristine }">
                                                        <label for="Landmark"  class="Astrik control-label">City:</label>
                                                 <!--       <select name="city" class="form-control" ng-model="city" id="city" ng-change="getcity_id()" ng-init="showCity()">
											  <option value="">Choose City</option>
											   <option ng-repeat="x in STAE_cities " value="{{x}}">{{x}}</option>                 
											</select> -->

                                                        <input class="form-control regstr-txtbox text-box single-line" id="city" maxlength="20" name="city"  placeholder="Enter city" tabindex="5" type="text"  ng-model="city" required>
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="city" data-valmsg-replace="true" id="city"></span>
                                                          <p ng-show="contactform.city.$invalid && !contactform.city.$pristine" class="help-block">City is required.</p>
                                                    </div>
                                                            
                                                    
                                                </div>
                                                
                                            </div>
                                              <div class="form-group" ng-class="{ 'has-error' : R_form.checkbox.$invalid && !R_form.checkbox.$pristine }">
                                                        
                                                        <input type="checkbox" name="checkbox" ng-model="checkbox"  class="chechforprivarcy  " ng-click="#PrivacyPolicy" required>
                                                        <label for="checkbox" class="Astrik control-label">I Accept the Terms And Conditions of Needsxchange</label>
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="States" data-valmsg-replace="true" id="valState"></span>
                                                        
                                           </div>
                                        </fieldset>
					 </form>					
			
                                            <div align="center">
                                                <div class="btn btn-success" ng-disabled="contactform.$invalid" ng-click="don_vloun(contactform.$valid)">Register</div>
                                                 <div class="btn btn-danger" ng-click="exitnow()"> Cancel</div>
                                            </div>
                                        <p align="center" style="font-size:13px;"><b>By creating this account, you agree to our T&C & <a href="#privacypolicy">Privacy Policy.</b></a></p>				
										
                                    </div>
<!--                                        <p class="notep"><b>Note:</b>The fields with <span class="redc">*</span> are to be filled mandatorily for successful registration.</p>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script type='text/javascript'>
  $(function(){
    $('#enddate,#startDate,.date').datepicker({
      format: 'dd/mm/yyyy',
      calendarWeeks: true,
      todayHighlight: true,
      /*defaultDate: $scope.conve_DOB,*/
      autoclose: true
    });
  });
 



</script>