<div class="theme-layout">
      <div ng-include=" 'views/common/header.html' "></div>
   <div ng-include=" 'views/common/responsiveheader.html' "></div>
        <div class="popup" >
        <div class="popup-centre">

            <div class="login-form popup-form" ng-controller="RegCOntroller">
                <span class="close-btn"><i class="fa fa-remove"></i> Close</span>
                 <strong>Login With <span>Social Credentials</span></strong>
                
                
                <form >

                    <div class="row" ng-show="logineduser">
               
                         <form align="center" role="form" >
                                <br>

                               

                                   <a  class="btn btn-block btn-warning btn-social btn-lg btn-google" ng-click="onGoogleLogin()"><i class="fa fa-google"></i>&ensp;Login</a>
                                  <br>
                                  <a  class="btn btn-block  btn-primary btn-social btn-lg btn-facebook" ng-click="FBlogin()"><i class="fa fa-facebook"></i>&ensp;Login</a>
                              
                              </form>
                              <br>
                              <div class="newregister">New Registration</div>
                               <a class="newuserfont" ng-click="newuser()"><b>New user register here</b></a>
                    </div>
                    <div class="newUserReg" ng-show="newUserReg">
                        <form align="center" role="form" >

                        <div class="selectrole">
                            <label class="radio-inline">
                            <input type="radio" name="userReg" ng-click="Register('NGO')"><span class="roleclass">NGO </span><span class="glyphicon glyphicon-home"></span>
                            </label>
                            <label class="radio-inline">
                            <input type="radio" name="userReg" ng-click="Register('Donor_Volunter')"><span class="roleclass">Donor/Volunteer</span> <span class="glyphicon glyphicon-user"></span>
                            </label>
                            </div>
                            <div ng-show="roleSelected">
                                <a  class="btn btn-block  btn-warning btn-social btn-lg btn-google" ng-click="onGoogleLogin()"><i class="fa fa-google"></i>&ensp;Login</a>
                                <br>
                                <a  class="btn btn-block  btn-primary btn-social btn-lg btn-facebook" ng-click="FBlogin()"><i class="fa fa-facebook"></i>&ensp;Login</a>
                                </div>
                        </form>
                         <p class="Alrtext"> Already have an account?<a ng-click="ExistingUser()">Login</a></p>
                    </div>
                </form>
                
               
              
            </div><!-- Sign Up Form -->

        </div>
    </div><!-- Popup -->

    
<!--    <div class="page-top" style="padding: 15px 0;margin-top:150px;">
        <div class="container">
            <div class="page-title">
                <div data-velocity="-.2" style="background: url(images/resource/parallax7.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible"></div> PARALLAX BACKGROUND IMAGE 
                <h2>Ask A <strong>Question</strong></h2>
                <ul>
                    <li><a itemprop="url" href="index.html" title="">Home</a></li>
                    <li>Recommend To A Friend</li>
                </ul>
            </div> Page Title 
        </div>
    </div> Page Top -->

    <div class="page-top">
        <div class="container">
            <div class="page-title">
                <div data-velocity="-.2" style="background: url(images/resource/parallax7.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible"></div><!-- PARALLAX BACKGROUND IMAGE -->
                <h2 style="margin-top: 53px;">Ask <strong>Question</strong></h2>
                <ul>
                    <li><a itemprop="url" href="index.html" title="">Home</a></li>
                    <li>FAQS</li>
                </ul>
            </div><!-- Page Title -->
        </div>
    </div>


    <section>
        <div class="block gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 column">
                        <div class="ask-question">
                            <div class="title">
                                <h2>Ask A <span>Question</span></h2>
                                <span>Committed To Providing The Best</span>
                            </div>
                           
                            <form class="contact-form white-bg"  name="contact-form">
                                <div class="row">
                                    <div class="col-md-12"><input name="email" type="text" placeholder="Email *" ng-model="email" required /></div>
                                    <div class="col-md-12"><input name="name" type="text" placeholder="Name *" ng-model="name"   required/></div>
                                    <div class="col-md-12"><input name="name1" type="text" placeholder="Title *" ng-model="name1"  required/></div>
                                    <div class="col-md-12"><textarea name="comments" placeholder="Your Question *" ng-model="comments"  required></textarea></div>
                                    <div class="col-md-12"><button  class="btn btn-success"  id="submit3" ng-disabled="!email;!name;!name1;!comments ">Send Message</button></div>
                                </div>
                            </form>
                        </div><!-- ask-question -->
                    </div>
                </div>
            </div>
        </div>
    </section>

 






    <div class="donation-popup">
        <div class="container">
            <div class="popup-centralize">
                <span class="close"><i class="fa fa-remove"></i></span>
                <div class="parallax" style="background:url(images/resource/parallax5.jpg) repeat scroll 0 0 rgba(0, 0, 0, 0);" data-velocity="-.1"></div><!-- PARALLAX BACKGROUND IMAGE -->
                <div class="donation-intro">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="make-donation">
                                <span>We Need Your Support</span>
                                <h5>Make a <i>Donation</i></h5>
                                <p>Quis autem velum iure reprehe nderit. Lorem ipsum dolor sitelit. Cras sapien neqqrue, biben dum in sagittis. Nulla or narjusto laoreet onse ctetur adipiscing.</p>
                            </div><!-- Make Donation -->
                        </div>
                        <div class="col-md-8">
                            <div class="select-cause">
                                <div class="cause-selectbox">
                                    <select class="select">
                                        <option>Cause 1</option>
                                        <option>Cause 2</option>
                                        <option>Cause 3</option>
                                        <option>Cause 4</option>
                                        <option>Cause 5</option>
                                        <option>Cause 6</option>
                                        <option>Cause 7</option>
                                        <option>Cause 8</option>
                                    </select>
                                </div><!-- Cause Select Box -->

                                <div class="urgent-progress">
                                    <div class="row">
                                        <div class="col-md-4"><div class="amount"><i>$</i> 3830<span>CURRENT COLLECTION</span></div></div>
                                        <div class="col-md-4"><div class="amount"><i>$</i> 5403<span>TARGET NEEDED</span></div></div>
                                        <div class="col-md-offset-1 col-md-3"><div class="circular"><input class="knob" data-fgColor="#e47257" data-bgColor="#dddddd" data-thickness=".10" readonly value="84"/><span>Completed</span> </div></div>
                                    </div>
                                </div>
                            </div><!-- Select Cause -->
                        </div>
                    </div>
                </div><!-- Donation Intro -->

                <div class="payment-box">
                    <ul class="frequency">
                        <li><a itemprop="url" class="active" href="#" title="">One Time</a></li>
                        <li><a itemprop="url" href="#" title="">Daily</a></li>
                        <li><a itemprop="url" href="#" title="">Weekly</a></li>
                        <li><a itemprop="url" href="#" title="">Fortnightly</a></li>
                        <li><a itemprop="url" href="#" title="">Monthly</a></li>
                        <li><a itemprop="url" href="#" title="">Half Yearly</a></li>
                    </ul><!-- Frequency -->
                    <div class="donation-fields">
                        <div class="col-md-6 col-md-offset-3">
                            <select class="select">
                                <option>Currency 1</option>
                                <option>Currency 2</option>
                                <option>Currency 3</option>
                                <option>Currency 4</option>
                                <option>Currency 5</option>
                                <option>Currency 6</option>
                                <option>Currency 6</option>
                            </select>
                        </div>
                        <div class="col-md-8 col-md-offset-2">
                            <div class="your-donation">
                                <strong class="popup-title">YOUR DONATION</strong>
                                <ul class="donation-figures">
                                    <li><a itemprop="url" class="wpdonation-button active" href="#" title="">$ 10.00</a></li>
                                    <li><a itemprop="url" class="wpdonation-button" href="#" title="">$ 50.00</a></li>
                                    <li><a itemprop="url" class="wpdonation-button" href="#" title="">$ 100.00</a></li>
                                    <li><a itemprop="url" class="wpdonation-button" href="#" title="">$ 500.00</a></li>
                                    <li><a itemprop="url" href="#" title="">Other Amount</a></li>
                                </ul>
                                <div class="donation-amount"><div class="textfield"><textarea placeholder="Enter The Amount You Want">$ 10.00</textarea></div></div>
                                <a itemprop="url" class="proceed proceed-to-donate" href="#" title="">Proceed</a>
                            </div><!-- Your Donation -->
                        </div>
                        <div class="select-payment">
                            <strong class="popup-title">Select Your Payment Option</strong>
                            <div class="payment-type">
                                <ul role="tablist" class="nav nav-tabs" id="child-tab">
                                    <li class="active"><a itemprop="url" data-toggle="tab" href="#credit">Credit Card</a></li>
                                    <li><a itemprop="url" data-toggle="tab" href="#transfer">Banking Transfer</a></li>
                                    <li><a itemprop="url" data-toggle="tab" href="#paypal">Paypal</a></li>
                                </ul>
                                <div class="tab-content" id="myTabContent2">
                                    <div id="credit" class="tab-pane fade active in">
                                        <p>In Case of credit card ,Transaction in Doller($) will be accepted.</p>
                                        <div class="form">
                                            <div class="col-md-offset-3 col-md-6">
                                                <div class="textfield"><input type="text" placeholder="Enter your 16 digit card number" /></div>
                                            </div>
                                            <div class="col-md-5 col-md-offset-1">
                                                <select class="select">
                                                    <option>Option 1</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                </select>
                                            </div>
                                            <div class="col-md-5">
                                                <select class="select">
                                                    <option>Option 1</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                </select>
                                            </div>
                                            <div class="col-md-offset-3 col-md-6">
                                                <div class="textfield"><input type="text" placeholder="Card Verification Number" /><img itemprop="image" src="images/resource/volunteer.jpg" alt="" /></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Select Donation -->
                        <div class="personal-detail">
                            <strong class="popup-title">PERSONAL DETAILS</strong>
                            <div class="form">
                                <div class="col-md-6"><div class="textfield"><input placeholder="First Name" type="text"></div></div>
                                <div class="col-md-6"><div class="textfield"><input placeholder="Last Name" type="text"></div></div>
                                <div class="col-md-6"><div class="textfield"><input placeholder="Email Id" type="email"></div></div>
                                <div class="col-md-6"><div class="textfield"><input placeholder="Phone Number" type="text"></div></div>
                                <div class="col-md-12"><div class="textfield"><input placeholder="Address" type="text"></div></div>
                                <div class="col-md-12"><div class="textfield"><textarea placeholder="Detail"></textarea></div></div>
                                <div class="donate-now"><a itemprop="url" class="proceed" href="#" title="">Donate Now</a></div>
                            </div>
                        </div><!-- Personal Detail -->
                    </div>
                </div><!-- Payment Box -->
            </div><!-- Popup Centralize -->
        </div>
    </div><!-- Donation Popup -->
    </div>
<script src="js/jquery-2.1.4.js" type="text/javascript"></script>
<script src="js/jquery.poptrox.min.js" type="text/javascript"></script>
<script src="js/jquery.plugin.min.js"></script>
<script src="js/script.js"></script>