<div class="theme-layout"  ng-controller="RegCOntroller" ng-init="getall_details()">
      <div ng-include=" 'views/common/header.html' "></div>
 <div ng-include=" 'views/common/responsiveheader.html' "></div>


 <div class="popup" >
        <div class="popup-centre">

            <div class="login-form popup-form" ng-controller="RegCOntroller">
                <span class="close-btn"><i class="fa fa-remove"></i> Close</span>
                 <strong>Login With <span>Social Credentials</span></strong>
                
                
                <form >

                    <div class="row" ng-show="logineduser">
               
                         <form align="center" role="form" >
                                <br>

                               

                                   <a  class="btn btn-block btn-warning btn-social btn-lg btn-google" ng-click="onGoogleLogin()"><i class="fa fa-google"></i>&ensp;Login</a>
                                  <br>
                                  <a  class="btn btn-block  btn-primary btn-social btn-lg btn-facebook" ng-click="FBlogin()"><i class="fa fa-facebook"></i>&ensp;Login</a>
                              
                              </form>
                              <br>
                              <div class="newregister">New Registration</div>
                               <a class="newuserfont" ng-click="newuser()"><b>New user register here</b></a>
                    </div>
                    <div class="newUserReg" ng-show="newUserReg">
                        <form align="center" role="form" >

                        <div class="selectrole">
                            <label class="radio-inline">
                            <input type="radio" name="userReg" ng-click="Register('NGO')"><span class="roleclass">NGO </span><span class="glyphicon glyphicon-home"></span>
                            </label>
                            <label class="radio-inline">
                            <input type="radio" name="userReg" ng-click="Register('Donor_Volunter')"><span class="roleclass">Donor/Volunteer</span> <span class="glyphicon glyphicon-user"></span>
                            </label>
                            </div>
                            <div ng-show="roleSelected">
                                <a  class="btn btn-block  btn-warning btn-social btn-lg btn-google" ng-click="onGoogleLogin()"><i class="fa fa-google"></i>&ensp;Login</a>
                                <br>
                                <a  class="btn btn-block  btn-primary btn-social btn-lg btn-facebook" ng-click="FBlogin()"><i class="fa fa-facebook"></i>&ensp;Login</a>
                                </div>
                        </form>
                         <p class="Alrtext"> Already have an account?<a ng-click="ExistingUser()">Login</a></p>
                    </div>
                </form>
                
               
              
            </div><!-- Sign Up Form -->

        </div>
    </div><!-- Popup -->
   
   <div class="page-top page-title container ">
      
       
       <div data-velocity="-.2"   style="background: url(images/resource/bg-how_it_works.jpg)  scroll 50%  transparent;" class="parallax scrolly-invisible;background-repeat: no-repeat;background-attachment: fixed; background-position: center;"></div>
      <!--<div data-velocity="-.2" id="gallhead" style="background: url(images/resource/how_it_works.png)  scroll 50%  transparent;" class="parallax scrolly-invisible;background-repeat: no-repeat;background-attachment: fixed; background-position: center;"></div>-->
      <div > <img src="images/resource/how_it_works.png"  class="howItwotk" style="" ></img> </div>              
    </div>
    <section>
      
            <div class="container">
                <div class="row" align="center">
                    <div class="page-top" >
                      
                           
                     <h2 style="color: #6d6a6a;margin-top: -5%;">How It  <strong>Work</strong></h2>
                     
                   
                    </div>
                    <div class="flow">
                   <img itemprop="image" src="images/ngo-process1.png" alt="" class="works"style="">
                   </div>
                    
                 </div>
                </div>
            </div>
      
    </section>






  <script src="js/jquery-2.1.4.js" type="text/javascript"></script>
<script src="js/jquery.poptrox.min.js" type="text/javascript"></script>
<script src="js/jquery.plugin.min.js"></script>
<script src="js/script.js"></script>





</div><!-- Theme Layout -->
