<div class="theme-layout" ng-show="forregusers" ng-controller="RegCOntroller" ng-init="showpopup();getall_details();displayRequests();">
   <div ng-include=" 'views/common/header.html' "></div>
     <div ng-include=" 'views/common/responsiveheader.html' "></div>

    <div class="popup" >
        <div class="popup-centre">

            <div class="login-form popup-form" ng-controller="RegCOntroller">
                <span class="close-btn"><i class="fa fa-remove"></i> Close</span>
                 <strong>Login With <span>Social Credentials</span></strong>
                
                
                <form >

                    <div class="row" ng-show="logineduser">
               
                         <form align="center" role="form" >
                                <br>

                               

                                   <a  class="btn btn-block btn-warning btn-social btn-lg btn-google" ng-click="onGoogleLogin()"><i class="fa fa-google"></i>&ensp;Login</a>
                                  <br>
                                  <a  class="btn btn-block  btn-primary btn-social btn-lg btn-facebook" ng-click="FBlogin()"><i class="fa fa-facebook"></i>&ensp;Login</a>
                              
                              </form>
                              <br>
                              <div class="newregister">New Registration</div>
                               <a class="newuserfont" ng-click="newuser()"><b>New user register here</b></a>
                    </div>
                    <div class="newUserReg" ng-show="newUserReg">
                        <form align="center" role="form" >

                        <div class="selectrole">
                            <label class="radio-inline">
                            <input type="radio" name="userReg" ng-click="Register('NGO')"><span class="roleclass">NGO </span><span class="glyphicon glyphicon-home"></span>
                            </label>
                            <label class="radio-inline">
                            <input type="radio" name="userReg" ng-click="Register('Donor_Volunter')"><span class="roleclass">Donor/Volunteer</span> <span class="glyphicon glyphicon-user"></span>
                            </label>
                            </div>
                            <div ng-show="roleSelected">
                                <a  class="btn btn-block  btn-warning btn-social btn-lg btn-google" ng-click="onGoogleLogin()"><i class="fa fa-google"></i>&ensp;Login</a>
                                <br>
                                <a  class="btn btn-block  btn-primary btn-social btn-lg btn-facebook" ng-click="FBlogin()"><i class="fa fa-facebook"></i>&ensp;Login</a>
                                </div>
                        </form>
                         <p class="Alrtext"> Already have an account?<a ng-click="ExistingUser()">Login</a></p>
                    </div>
                </form>
                
               
              
            </div><!-- Sign Up Form -->

        </div>
    </div><!-- Popup -->

<!-- popup for new users -->
<div class="popuprah" ng-show="fornewuser">
        <div class="popup-centre">

            <div class="login-form popup-form" ng-controller="RegCOntroller">
                <span class="close-btn"><i class="fa fa-remove"></i> Close</span>
                 <strong>Register<span>Yourself as</span></strong>
                
                <form>
                    <div class="row">

                         <label class="checkbox-inline">
                             <input type="checkbox" value="NGO" ng-model="NGO" >NGO
                         </label>
                           <label class="checkbox-inline">
                              <input type="checkbox" value="Donor_Volunteer" ng-model="Donor_Volunteer" >Donor_Volunteer
                         </label>
                    </div>
                </form>
            </div><!-- Sign Up Form -->
        </div>
    </div><!-- Popup -->



    <section>
        <div class="block gray no-padding">
            <div class="">
                <div class="row">
                    <div class="col-md-12 column">
                        <div id="layerslider-container-fw">
                            <div id="layerslider" style="width: 100%; height: 570px; margin: 0px auto; ">
                                <div class="ls-slide" data-ls="transition2d:12; timeshift:-1000;">
                                    <img itemprop="image" src="images/slider1.jpg" class="ls-bg" alt="Slide background" />
<!--                                    <div class="ls-l slide-title" style="top:130px;left:50%;font-size:70px;font-weight:600;" data-ls="offsetyin:50px;offsetxin:0;durationin:1500;delayin:400;easingin:easeOutBack;">DONATE & HELP</div>-->
<!--                                    <div class="ls-l slide-subtitle" style="top:220px;left:50%;font-size:26px;" data-ls="offsetyin:-50px;offsetxin:0;durationin:1500;delayin:800;">African Children For</div>
                                    <div class="ls-l slide-text" style="top:270px;left:50%;font-size:40px;" data-ls="offsetyin:50px;offsetxin:0;durationin:1500;delayin:1200;">Education</div>-->
<!--                                    <a itemprop="url" href="#" title="" class="ls-l slide-button" style="top:350px;left:50%;font-size:13px;padding:18px 55px;" data-ls="durationin:1500;delayin:2000;easingin:easeOutBack;offsetyin:-50px;offsetxin:0;">CONTRIBUTE NOW</a>-->
                                </div> <!-- Slide1 -->


                                <div class="ls-slide" data-ls="transition2d:12; timeshift:-1000;">
                                    <img itemprop="image" src="images/slider3.jpg" class="ls-bg" alt="Slide background" />

                                </div><!-- Slide2 -->

<!--                                <div class="ls-slide" data-ls="transition2d:12; timeshift:-1000;">
                                    <img itemprop="image" src="images/resource/slider2.jpg" class="ls-bg" alt="Slide background" />
                                    <div class="ls-l slide-subtitle" style="top:160px;left:180px;font-size:25px;" data-ls="offsetxin:-50;durationin:2000;delayin:500;offsetxout:-50;durationout:1000;">FUTURES</div>
                                    <div class="ls-l slide-title" style="top:200px;left:30px;font-size:60px;font-weight:600;" data-ls="offsetxin:0;durationin:2500;delayin:900;scalexin:0;scaleyin:0;offsetxout:0;scalexout:0;scaleyout:0;">FOR CHILDREN</div>
                                    <div class="ls-l blackbox" style="top:280px;left:0;font-size:20px;padding:20px 40px;" data-ls="offsetxin:50;delayin:1200;skewxin:-60;offsetxout:-50;durationout:1000;skewxout:-60;">Over <i>$1,25,000</i> Raised, We Love</div>
                                    <div class="ls-l slide-subtitle" style="top:360px;left:115px;font-size:35px;" data-ls="offsetxin:50;delayin:1500;skewxin:-60;offsetxout:-50;durationout:1000;skewxout:-60;">Our <i>Supporters</i></div>
                                </div> Slide3 -->


                            </div>
                        </div><!-- Layer Slider -->
                    </div>
                </div>
            </div>
        </div>
    </section><!-- Slider Section -->

 <section>
        <div class="block remove-gap remove-bottom">
            <div class="row">
                <div class="col-md-12 column">
                    <div class="title">
                        <h2>ONGOING <span>Projects</span></h2>
                        <span>Committed To Providing The Best</span>
                    </div>

                    <div class="welfare-projects-carousel">
                        <div class="welfare-project" ng-repeat="r in reqdetailsinhome | limitTo: reqdetailslength">
                            <img itemprop="image" src="images/resource/welfare-projects1.jpg" alt="" />
                            <div class="project-info">
                                <h3><a itemprop="url" href="#" title="">{{r.Reqpurpose}} for <span class="orgname">{{r.Reqorgname}}</span></a></h3>
                                <div class="urgent-progress">
                                    <div class="progress-border">
                                        <div class="progress"><div style="width: {{r.percent}}%;" class="progress-bar"></div></div>
                                    </div>
                                    <div class="goal raised">Goal<span><i></i>{{r.Reqtotalqnty}} {{r.ReqItemName}}</span> </div>

                                     <div class="goal raised" align="right">
                                        <i>{{r.percent | number:2}}%</i>
                                    </div>
                                </div>
                            </div>
                            <div class="project-hover">
                                <h3><a itemprop="url" href="#" title="">{{r.Reqpurpose}} for <span class="orgname">{{r.Reqorgname}}</span></a></h3>
                                <div class="goal raised">Raised<span><i></i>{{r.Reqcurrentqnty}} {{r.ReqItemName}}</span></div>
                                <a itemprop="url" class="theme-btn" href="#CurrentRequests" title="">DONATE NOW</a>
                            </div>
                        </div> 

                    </div> 
                </div>
            </div>
        </div>
    </section>
   

    <section>
        <div class="block gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 column">
                        <div class="title style2">
                            <h2>OUR<span>VALUES</span></h2>
                            <span>MISSION & VISION</span>
                        </div>
                        <div class="events">
                            <div class="event-toggle" style="padding: 30px 40px 30px 40px;">

                                <div class="event-bar">
                                    <div class="col-xs-12">
                                        <h3><a itemprop="url" title="">MISSION </a></h3>
                                    </div>

                                </div>
                                <div class="event-desc" style="margin-top: 10px;">
                                    <div>  To make giving back to community a positive and productive experience. To ensure that no help is a small help; To facilitate NGO’s and community help each other. To break the barriers of Charter, Region and Country to serve. To create an enabling Environment across the world.</div><br>

                                        <div>We strongly believe that there exists a chasm between Non Governmental Organizations and the general public. Individuals willing to donate goods are discouraged by the lack of any common platform allowing them to easily donate and also not sure if it reaches the needy. Our goal is to maximize the impact a single donation can make across the country/world through a robust process and increase the volume of these donations.</div><br>
                                        <div>It is our mission to simplify the process of seamless distribution of donations across the NGOs, while simultaneously ensuring accountability and transparency.</div>
                                </div>



                            </div><!-- Event Toggle -->

                            <div class="event-toggle" style="padding: 30px 40px 30px 40px;">

                                <div class="event-bar">
                                    <div class="col-xs-12">
                                        <h3><a itemprop="url"  title="">VISION </a></h3>
                                    </div>

                                </div>
                                <div class="event-desc">
                                    <div> To create an inclusive society where needs are met through exchange/ sharing of goods, deeds and kind.</div><br>

                                      <div> We envision ourselves as a global platform not just for an effective dialogue and distribution of donations between the public and NGO’s, but also as a platform for NGO’s to interact with one another and help in the spread of the ideas and innovation to parts of the world that sorely require it. Being able to touch the lives of millions of needy and helping them donate to some of the most disadvantaged sections of society will help bring about a sea change in the way NGO’s operate and the way people view donations of goods. By making the whole process a less of a hassle, we believe that in the very near future, <b>Needsxchange</b> will become an integral part of the global society and will stimulate action across the globe.</div>
                                </div>

                            </div><!-- Event Toggle -->


                        </div><!-- Events -->
                    </div>
                    <div class="col-md-4 column">
                        <div class="volunteer">
                            <img itemprop="image" src="images/resource/volunteer.jpg" alt="" />
                            <div class="volunteer-overlay">
                                <div class="volunteer-inner">
                                    <span>BECOME A</span>
                                    <strong>Donor/Volunteer</strong>
                                    <p>Become a donor and help the needy who needs help</p>
                                    <a itemprop="url" ng-show="beforelogin" class="log_in theme-btn" href="#" title="">Welcome As Donor/Volunteer</a>
                                     <a itemprop="url" ng-show="afterlogin" class=" theme-btn" href="#" ng-click="showreg()" title="">Welcome As Donor/Volunteer</a>
                                     <a itemprop="url" ng-show="loginbutnoregister" class=" theme-btn" href="#" ng-click="noreg()" title="">Welcome As Donor/Volunteer</a>
                                </div>
                            </div>
                        </div><!-- Become A Volunteer -->
                    </div>
                </div>
            </div>
        </div>
    </section>

  
  




    <div class="donation-popup">
        <div class="container">
            <div class="popup-centralize">
                <span class="close"><i class="fa fa-remove"></i></span>
                <span class="close"><i class="fa fa-remove"></i></span>
                <div class="parallax" style="background:url(images/resource/parallax7.jpg) repeat scroll 0 0 rgba(0, 0, 0, 0);" data-velocity="-.1"></div><!-- PARALLAX BACKGROUND IMAGE -->
                <div class="donation-intro">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="make-donation">
                                <span>We Need Your Support</span>
                                <h5>Make a <i>Donation</i></h5>
                                <p>Quis autem velum iure reprehe nderit. Lorem ipsum dolor sitelit. Cras sapien neqqrue, biben dum in sagittis. Nulla or narjusto laoreet onse ctetur adipiscing.</p>
                            </div><!-- Make Donation -->
                        </div>
                        <div class="col-md-8">
                            <div class="select-cause">
                                <div class="cause-selectbox">
                                    <select class="select">
                                        <option>Cause 1</option>
                                        <option>Cause 2</option>
                                        <option>Cause 3</option>
                                        <option>Cause 4</option>
                                        <option>Cause 5</option>
                                        <option>Cause 6</option>
                                        <option>Cause 7</option>
                                        <option>Cause 8</option>
                                    </select>
                                </div><!-- Cause Select Box -->

                                <div class="urgent-progress">
                                    <div class="row">
                                        <div class="col-md-4"><div class="amount"><i>$</i> 3830<span>CURRENT COLLECTION</span></div></div>
                                        <div class="col-md-4"><div class="amount"><i>$</i> 5403<span>TARGET NEEDED</span></div></div>
                                        <div class="col-md-offset-1 col-md-3"><div class="circular"><input class="knob" data-fgColor="#e47257" data-bgColor="#dddddd" data-thickness=".10" readonly value="84"/><span>Completed</span> </div></div>
                                    </div>
                                </div>
                            </div><!-- Select Cause -->
                        </div>
                    </div>
                </div><!-- Donation Intro -->

                <div class="payment-box">
                    <ul class="frequency">
                        <li><a itemprop="url" class="active" href="#" title="">One Time</a></li>
                        <li><a itemprop="url" href="#" title="">Daily</a></li>
                        <li><a itemprop="url" href="#" title="">Weekly</a></li>
                        <li><a itemprop="url" href="#" title="">Fortnightly</a></li>
                        <li><a itemprop="url" href="#" title="">Monthly</a></li>
                        <li><a itemprop="url" href="#" title="">Half Yearly</a></li>
                    </ul><!-- Frequency -->
                    <div class="donation-fields">
                        <div class="col-md-6 col-md-offset-3">
                            <select class="select">
                                <option>Currency 1</option>
                                <option>Currency 2</option>
                                <option>Currency 3</option>
                                <option>Currency 4</option>
                                <option>Currency 5</option>
                                <option>Currency 6</option>
                                <option>Currency 6</option>
                            </select>
                        </div>
                        <div class="col-md-8 col-md-offset-2">
                            <div class="your-donation">
                                <strong class="popup-title">YOUR DONATION</strong>
                                <ul class="donation-figures">
                                    <li><a itemprop="url" class="wpdonation-button active" href="#" title="">$ 10.00</a></li>
                                    <li><a itemprop="url" class="wpdonation-button" href="#" title="">$ 50.00</a></li>
                                    <li><a itemprop="url" class="wpdonation-button" href="#" title="">$ 100.00</a></li>
                                    <li><a itemprop="url" class="wpdonation-button" href="#" title="">$ 500.00</a></li>
                                    <li><a itemprop="url" href="#" title="">Other Amount</a></li>
                                </ul>
                                <div class="donation-amount"><div class="textfield"><textarea placeholder="Enter The Amount You Want">$ 10.00</textarea></div></div>
                                <a itemprop="url" class="proceed proceed-to-donate" href="#" title="">Proceed</a>
                            </div><!-- Your Donation -->
                        </div>
                        <div class="select-payment">
                            <strong class="popup-title">Select Your Payment Option</strong>
                            <div class="payment-type">
                                <ul role="tablist" class="nav nav-tabs" id="child-tab">
                                    <li class="active"><a itemprop="url" data-toggle="tab" href="#credit">Credit Card</a></li>
                                    <li><a itemprop="url" data-toggle="tab" href="#transfer">Banking Transfer</a></li>
                                    <li><a itemprop="url" data-toggle="tab" href="#paypal">Paypal</a></li>
                                </ul>
                                <div class="tab-content" id="myTabContent2">
                                    <div id="credit" class="tab-pane fade active in">
                                        <p>In Case of credit card ,Transaction in Doller($) will be accepted.</p>
                                        <div class="form">
                                            <div class="col-md-offset-3 col-md-6">
                                                <div class="textfield"><input type="text" placeholder="Enter your 16 digit card number" /></div>
                                            </div>
                                            <div class="col-md-5 col-md-offset-1">
                                                <select class="select">
                                                    <option>Option 1</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                </select>
                                            </div>
                                            <div class="col-md-5">
                                                <select class="select">
                                                    <option>Option 1</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                </select>
                                            </div>
                                            <div class="col-md-offset-3 col-md-6">
                                                <div class="textfield"><input type="text" placeholder="Card Verification Number" /><img itemprop="image" src="images/resource/volunteer.jpg" alt="" /></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Select Donation -->
                        <div class="personal-detail">
                            <strong class="popup-title">PERSONAL DETAILS</strong>
                            <div class="form">
                                <div class="col-md-6"><div class="textfield"><input placeholder="First Name" type="text"></div></div>
                                <div class="col-md-6"><div class="textfield"><input placeholder="Last Name" type="text"></div></div>
                                <div class="col-md-6"><div class="textfield"><input placeholder="Email Id" type="email"></div></div>
                                <div class="col-md-6"><div class="textfield"><input placeholder="Phone Number" type="text"></div></div>
                                <div class="col-md-12"><div class="textfield"><input placeholder="Address" type="text"></div></div>
                                <div class="col-md-12"><div class="textfield"><textarea placeholder="Detail"></textarea></div></div>
                                <div class="donate-now"><a itemprop="url" class="proceed" href="#" title="">Donate Now</a></div>
                            </div>
                        </div><!-- Personal Detail -->
                    </div>
                </div><!-- Payment Box -->
            </div><!-- Popup Centralize -->
        </div>
    </div><!-- Donation Popup -->
</div><!-- Theme Layout -->

<script type="text/javascript" src="js/modernizr.custom.17475.js"></script>
<script src="js/jquery-2.1.4.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.poptrox.min.js" type="text/javascript"></script>
<script src="js/jquery.scrolly.js"></script>
<script src="js/jquery.knob.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/isotope-initialize.js"></script>
<script src="js/jquery.plugin.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/select2.min.js"></script>
<script src="js/enscroll-0.5.2.min.js"></script>

<!-- Scripts For Layer Slider  -->
<script src="layerslider/js/greensock.js" type="text/javascript"></script>
<script src="layerslider/js/layerslider.transitions.js" type="text/javascript"></script>
<script src="layerslider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>

<script>
    jQuery(document).ready(function( $ ) {
        /* ============ LAYER SLIDER ================*/
        jQuery("#layerslider").layerSlider({
            responsive: true,
            responsiveUnder: 1280,
            layersContainer: 1170,
            skin: 'fullwidth',
            hoverPrevNext: true,
            skinsPath: 'layerslider/skins/'
        });


        /* ============ Welfare Projects Carousel ================*/
        $('.welfare-projects-carousel').owlCarousel({
            autoplay:true,
            autoplayTimeout:2500,
            smartSpeed:2000,
            autoplayHoverPause:true,
            loop:true,
            dots:false,
            nav:false,
            margin:0,
            mouseDrag:true,
            items:4,
            autoHeight:true,
            responsive : {
                0 : {items : 1},
                480 : {items :2},
                768 : {items : 3},
                1200 : {items : 4},
            }
        });


        /* ============ Sponsors Carousel ================*/
        $('.sponsors-carousel').owlCarousel({
            autoplay:true,
            autoplayTimeout:2500,
            smartSpeed:2000,
            loop:true,
            dots:false,
            nav:true,
            margin:10,
            mouseDrag:true,
            items:5,
            autoHeight:true,
            responsive : {
                0 : {items : 1},
                480 : {items :2},
                768 : {items : 3},
                1200 : {items : 5},
            }
        });




        /* ============ Count Down Timer ================*/
        $(function () {
            var date = new Date();
            date = new Date(2017, 4 - 1, 12);
            $('.count-down').countdown({until: date});
        });
        $(function () {
            var date2 = new Date();
            date2 = new Date(2016, 4 - 1, 12);
            $('.count-down2').countdown({until: date2});
        });

    });
</script>
<script src="js/script.js"></script>