<div class="theme-layout" ng-controller="RegCOntroller" ng-init="getall_details();Date_ofB();getNGOs()">
  
        <div ng-include=" 'views/common/header.html' "></div>
    <div class="page-top" style="padding: 15px 0;margin-top:150px;">
        <div class="container">
            <div class="page-title">
                <div data-velocity="-.2" style="background: url(images/resource/parallax7.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible"></div><!-- PARALLAX BACKGROUND IMAGE -->
                <h2>NGO'S  <strong>Registration</strong></h2>

            </div><!-- Page Title -->
        </div>
    </div><!-- Page Top -->

    <!--Ngo Registration...-->
    <section style="margin-top: 50px;">
        <div class="block gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 column">
                        <div class="contact-box overlap">
                           
                            <div class="countries-contact">

                                <div class="tab-content" id="myTabContent">
                                    <div id="country1" class="tab-pane fade active in">

                                        <form class="" method="post"  name="R_form" novalidate>
										
					<fieldset>
                                            <legend style="color:#42b3e5; font-size:16px;">Basic Details</legend>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="organisationname">Full Name:</label>
                                                         
                                                        <input class="form-control regstr-txtbox text-box single-line" id="txtOrganisationName" maxlength="20" name="Organisationname" placeholder="Full Name" tabindex="1" type="text" ng-model="User_name" disabled >
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Organisationname" data-valmsg-replace="true" id="valOrganisationName"></span>

                                                    </div>
													
                                                        <div class="form-group">
                                                        <label>Email Address:</label>
														
                                                        <input class="form-control regstr-txtbox text-box single-line" id="txtEmailId" maxlength="100" name="Emailid" placeholder="Enter Email Id" tabindex="6" type="email" ng-model="Ema_il" id="emaila" disabled>
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Emailid" data-valmsg-replace="true" id="valEmailId"></span>
							</div>
                                                    <div class="row form-group hidden">
                                                                <label  class="control-label col-md-offset-3 col-sm-2">Getting date with Time:</label>
                                                                <div class="col-sm-3 col-md-3 input-group ">
                                                                  <span>{{CurrentDate | date:'dd/ MM /yyyy'}}</span> <span>  {{CurrentDate | date:'hh:mm a'}}</span>
                                                                  <br />
                                                                </div>
                                                   </div>
                                                  </div>
                                                <div class="col-md-3">
                                                    <div class="form-group" ng-class="{ 'has-error' : R_form.F_Name.$invalid && !R_form.F_Name.$pristine }">
                                                        <label for="organisationname">First Name:</label>
                                                        
                                                        <input class="form-control regstr-txtbox text-box single-line"  ng-pattern='/^[a-zA-Z0-9\_\- ]*$/' name="F_Name" placeholder="First Name" tabindex="1" type="text" ng-maxlength="50" id="usdsr" ng-model="F_Name" >
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Organisationname" data-valmsg-replace="true" id="valOrganisationName"></span>
                                                        <p ng-show="R_form.F_Name.$error.maxlength" class="help-block">Your Name is too long.</p>
                                                        <p ng-show="R_form.F_Name.$error.pattern" class="help-block">Give valid name.</p>

                                                    </div>
                                                    <div class="form-group">
                                                        <label class="Astrik control-label">Date of Birth:</label>
														
                                                        <input class="form-control regstr-txtbox text-box single-line" id="txtEmailId" maxlength="100" name="DOB" placeholder="Enter DOB" tabindex="6"  type="date" ng-model="conve_DOB" required>
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Emailid" data-valmsg-replace="true" id="valEmailId"></span>



                                                    </div>
			</div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="organisationname">Middle Name:</label>
                                                        
                                                        <input class="form-control regstr-txtbox text-box single-line"  placeholder="Middle Name" tabindex="1" type="text" maxlength='25' id="usdsdr" ng-model="M_Name" >
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Organisationname" data-valmsg-replace="true" id="valOrganisationName"></span>

                                                    </div>
                                                    <div class="form-group" ng-class="{ 'has-error' : R_form.Con_number.$invalid && !R_form.Con_number.$pristine }" >
                                                        <label for="Mobile"  class="Astrik control-label">Mobile Number:</label>
														
                                                        <input class="form-control regstr-txtbox text-box single-line" id="txtMobileno" maxlength="10" name="Con_number" ng-pattern='/^[0-9\_\- ]*$/' placeholder="Enter Mobile No." tabindex="5" type="text"  ng-model="Con_number" required>
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Mobileno" data-valmsg-replace="true" id="valMobileno"></span>
                                                          <p ng-show="R_form.Con_number.$error.pattern" class="help-block">Give a valid number.</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group" >
                                                        <label for="organisationname" class="Astrik control-label">Last Name:</label>
                                                       
                                                        <input class="form-control regstr-txtbox text-box single-line"  placeholder="Last Name" tabindex="1" type="text" name='L_Name'   ng-maxlength="50" id="susr" ng-model="L_Name" >
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Organisationname" data-valmsg-replace="true" id="valOrganisationName"></span>

                                                    </div>					
													
                                                      <div class="form-group" ng-class="{ 'has-error' : R_form.gender.$invalid && !R_form.gender.$pristine }">
                                                        <label for="tinorregdno" class="Astrik control-label">Gender:</label>

                                                        <select class="form-control" id="sel1" ng-model="genDer" name="gender">
														  <option value="">Select Gender</option>
														  <option value="male">Male</option>
														  <option value="female">Female</option>
															</select>
                                                    </div>
                                                </div>
											
													
													
													
                                                </div>
                                        </fieldset>
                                        <fieldset>
                                            <legend style="color:#42b3e5; font-size:16px;">Organization Details</legend>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group" ng-class="{ 'has-error' : R_form.Organisationname.$invalid && !R_form.Organisationname.$pristine }">
                                                        <label for="organisationname" class="Astrik control-label">Organization Name:</label>
                                                        
                                                        <input class="form-control regstr-txtbox text-box single-line" id="txtOrganisationName" maxlength="150" name="Organisationname" placeholder="Organization Name..." tabindex="1" type="text" ng-pattern='/^[a-zA-Z0-9\_\- ]*$/' ng-model='org_Name' required>
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Organisationname" data-valmsg-replace="true" id="valOrganisationName"></span>
                                                         <p ng-show="R_form.Organisationname.$error.pattern" class="help-block">Give a valid Organization name.</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Mobile" class="Astrik control-label">Effective Date:</label>
														
                                                        <input class="form-control regstr-txtbox text-box single-line"  maxlength="10" type="date"  onkeypress="ValidateMobileNumberKeyPress(event);" placeholder="Effective date." tabindex="5"  name="startDate" ng-model="startDate" required>
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Mobileno" data-valmsg-replace="true" id="valMobileno"></span>

                                                    </div>
                                                   
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group" ng-init="getNGOs()" ng-class="{ 'has-error' : R_form.NGOname.$invalid && !R_form.NGOname.$pristine }">
                                                        <label for="tinorregdno" class="Astrik control-label">Organization Type:</label>

                                                        <select class="form-control" id="sel1" name="NGOname" ng-model="Orgt_ype" ng-change="showOrgType()" required>
														  <option value="">Choose our NGO</option>
														  <option ng-repeat="x in NGO_Names" value="{{x.orgTypeCode}}">{{x.orgTypeCode}}</option>
															</select>
                                                    </div>
                                                    
                                                </div>
<!--                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="Parent">Parent Organization Name:</label>
														
                                                        <input class="form-control regstr-txtbox text-box single-line" id="txtTRid" maxlength="10" name="Taxredemptionid" placeholder="Parent Organization" tabindex="3" type="text" ng-model="sel_ected"  class="form-control">
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Taxredemptionid" data-valmsg-replace="true" id="valTRid"></span>
                                                    </div>
                                                    
                                                </div>-->
                                                <div class="col-md-3">

                                                    <div class="form-group" ng-class="{ 'has-error' : R_form.Exception.$invalid && !R_form.Exception.$pristine }">
                                                    <label for="tinorregdno" class="Astrik control-label">Has Tax Exceptions:</label>

                                                    <select class="form-control" id="sel1" ng-model="Exception" name="Exception" required>
                                                                                                          <option value="">Select Option</option>
                                                                                                          <option value="Y">Yes</option>
                                                                                                          <option value="N">No</option>
                                                                                                                </select>
                                                    </div>

                                                </div>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <legend style="color:#42b3e5; font-size:16px;">Address Details</legend>

                                            <div class="row">
                                                <div class="col-md-3">
<!--                                                    <div class="form-group" ng-class="{ 'has-error' : R_form.Address1.$invalid && !R_form.Address1.$pristine }">
                                                        <label for="Address1" class="Astrik control-label">Address 1:</label>
														 
                                                        <input class="form-control regstr-txtbox text-box single-line" id="txtAddress1" maxlength="500" name="Address1" placeholder="Enter Address1"  ng-pattern='/^[a-zA-Z0-9\_\- ]*$/' ng-model="Addres_1" required>
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Address1" data-valmsg-replace="true" id="valAddress1"></span>
                                                         <p ng-show="R_form.Address1.$error.pattern" class="help-block">Give a valid Address.</p>
                                                    </div>-->
                                                        <div class="form-group" ng-class="{ 'has-error' : R_form.Address1.$invalid && !R_form.Address1.$pristine }" >
                                                        <label for="Address1"  class="Astrik control-label">Address1:</label>
														
                                                        <input class="form-control regstr-txtbox text-box single-line" id="Address1" maxlength="256" name="Address1"  placeholder="Enter Address1" tabindex="5" type="text" ng-pattern='/^[a-zA-Z0-9,\_\- ]*$/' ng-model="Addres_1" required>
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Address1" data-valmsg-replace="true" id="valAddress1"></span>
                                                          <p ng-show="R_form.Address1.$invalid && !R_form.Address1.$pristine" class="help-block">Address1 is required.</p>
                                                   
                                                    </div>
                                                    <div class="form-group" ng-class="{ 'has-error' : R_form.Postal.$invalid && !R_form.Postal.$pristine }">
                                                        <label for="Pincode" class="Astrik control-label">Postal Code:</label>
                                                         <input type="text" class="form-control" name="Postal"  placeholder="postalcode" ng-pattern='/^[0-9\_\- ]*$/' maxlength="6" ng-model="Postal" required>
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="States" data-valmsg-replace="true" id="valState"></span>
                                                        <p ng-show="R_form.Postal.$error.pattern" class="help-block">Give a valid Postal code.</p>
                                                    </div>
                                                </div>
                                                 <div class="col-md-3">
<!--                                                    <div class="form-group">
                                                        <label for="Address1" class="Astrik control-label" ng-class="{ 'has-error' : R_form.Addres_2.$invalid && !R_form.Addres_2.$pristine }">Address 2:</label>
														                
                                                        <input class="form-control regstr-txtbox text-box single-line" id="txtAddress1" maxlength="500"  placeholder="Enter Address1" name="Addres_2" ng-pattern='/^[a-zA-Z0-9\_\- ]*$/' ng-model="Addres_2" required>
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Address1" data-valmsg-replace="true" id="valAddress1"></span>
                                                         <p ng-show="R_form.Addres_2.$error.pattern" class="help-block">Give a valid Postal code.</p>
                                                          </div>-->
                                                          <div class="form-group" ng-class="{ 'has-error' : R_form.Addres_2.$invalid && !R_form.Addres_2.$pristine }" >
                                                        <label for="Addres_2"  class="Astrik control-label">Address2:</label>
														
                                                        <input class="form-control regstr-txtbox text-box single-line" id="txtAddress1" maxlength="256" name="Addres_2"  placeholder="Enter Address2" tabindex="5" type="text" ng-pattern='/^[a-zA-Z0-9,\_\- ]*$/' ng-model="Addres_2" required>
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Addres_2" data-valmsg-replace="true" id="Addres_2"></span>
                                                          <p ng-show="R_form.Addres_2.$invalid && !R_form.Addres_2.$pristine" class="help-block">Address2 is required.</p>
                                                   
                                                    </div>
                                                    
                                                </div>

                                                <div class="col-md-3">
                                                   <div class="form-group" ng-class="{ 'has-error' : R_form.city.$invalid && !R_form.city.$pristine }" >
                                                        <label for="city"  class="Astrik control-label">City:</label>
                                                        
                                                        <input class="form-control regstr-txtbox text-box single-line" id="city" maxlength="20" name="city"  placeholder="Enter city" tabindex="5" type="text"  ng-model="city" required>
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="city" data-valmsg-replace="true" id="city"></span>
                                                          <p ng-show="R_form.city.$invalid && !R_form.city.$pristine" class="help-block">City is required.</p>
                                                    </div>
                                                </div>
                                               
                                                 <div class="col-md-3">
                                                   <div class="form-group" ng-class="{ 'has-error' : R_form.state.$invalid && !R_form.state.$pristine }" >
                                                        <label for="state"  class="Astrik control-label">State:</label>
														
                                                        <input class="form-control regstr-txtbox text-box single-line" id="state" maxlength="20" name="state"  placeholder="Enter state" tabindex="5" type="text"  ng-model="state" required>
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="state" data-valmsg-replace="true" id="state"></span>
                                                          <p ng-show="R_form.state.$invalid && !R_form.state.$pristine" class="help-block">State is required.</p>
                                                    </div>
                                                    
                                                </div>
                                            
                                            </div>
                                             <div class="form-group" ng-class="{ 'has-error' : R_form.checkbox.$invalid && !R_form.checkbox.$pristine }">
                                                        
                                                        <input type="checkbox" name="checkbox" ng-model="checkbox"  class="chechforprivarcy" ng-click="#PrivacyPolicy" required>
                                                        <label for="checkbox" class="Astrik control-label">I Accept the Terms And Conditions of Needsxchange</label>
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="States" data-valmsg-replace="true" id="valState"></span>
                                                        
                                           </div>
                                        </fieldset>
                                             </form>
                                        <div align="center" class="form-group">
                                            <div  class="btn btn-success"  ng-click="NGO__REG_AGA(R_form.$valid)" ng-disabled="R_form.$invalid">Register</div>
                                            <div class="btn btn-danger" ng-click="exitnow()"> Cancel</div>
<!--                                <div  class="btn btn-success" ng-disabled="R_form.$invalid" ng-click="Ngo___reg()">Register</div>-->
                                        </div>
                                         <p align="center" style="font-size:13px;"><b>By creating this account, you agree to our T&C & <a href="#privacypolicy">Privacy Policy.</b></a></p>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<script type='text/javascript'>
  $(function(){
    $('#enddate,#startDate,.date').datepicker({
      format: 'dd/mm/yyyy',
      calendarWeeks: true,
      todayHighlight: true,
      /*defaultDate: $scope.conve_DOB,*/
      autoclose: true
    });
  });
 



</script>