<div ng-include=" 'views/common/header.html' "></div>
<div class="theme-layout" ng-controller="InventoryController" ng-init="volunteeerequestdata();pickupdisabledate()">
 
    <div ng-include=" 'views/common/responsiveheader.html' "></div>
    <div class="popup">
        <div class="popup-centre">
            <div class="signup-form popup-form">
                <span class="close-btn"><i class="fa fa-remove"></i> Close</span>
                <strong>JOIN FOR <span>DONATION</span></strong>
                <p>Quis autem velum iure reprehe nderit. Lorem ipsum dolor sit nulla or narjusto laoreet onse ctetur adipisci.</p>
                <form>
                    <div class="row">
                        <div class="col-md-12"><input type="text" placeholder="First Name" /></div>
                        <div class="col-md-12"><input type="text" placeholder="Last Name" /></div>
                        <div class="col-md-12"><input type="email" placeholder="youremail@yourdomain.com" /></div>
                        <div class="col-md-12"><input type="password" placeholder="Password" /></div>
                        <div class="col-md-12"><p>By creating an account, you agree to our <a itemprop="url" href="#" title="">Terms & Conditions.</a></p></div>
                        <div class="col-md-12"><input type="submit" value="Create Account" /></div>
                    </div>
                </form>
            </div><!-- Sign Up Form -->
            <div class="login-form popup-form">
                <span class="close-btn"><i class="fa fa-remove"></i> Close</span>
                <strong>LOGIN FOR <span>DONATION</span></strong>
                <p>Quis autem velum iure reprehe nderit. Lorem ipsum dolor sit nulla or narjusto laoreet onse ctetur adipisci.</p>
                <form>
                    <div class="row">
                        <div class="col-md-12"><input type="email" placeholder="youremail@yourdomain.com" /></div>
                        <div class="col-md-12"><input type="password" placeholder="Password" /></div>
                        <div class="col-md-12"><p><a itemprop="url" href="#" title="">Forget Password</a></p></div>
                        <div class="col-md-12"><input type="submit" value="LOG IN" /></div>
                    </div>
                </form>
            </div><!-- Sign Up Form -->
            <div class="add-inventory-form popup-form">
                <span class="close-btn"><i class="fa fa-remove"></i> Close</span>
                <strong>Category<span>Name</span></strong>
                <form>
                    <div class="row">
                        <div class="col-md-12"><input type="text" placeholder="" /></div>
                        <div class="col-md-12"><input type="submit" value="Add" /></div>
                    </div>
                </form>
            </div>
            <div class="add-subcategory-from popup-form">
                <span class="close-btn"><i class="fa fa-remove"></i> Close</span>
                <strong>Category<span>Name</span></strong>
                <form>
                    <div class="row">
                        <div class="col-md-12"><input type="text" placeholder="" /></div>
                        <div class="col-md-12"><input type="text" placeholder="" /></div>
                        <div class="col-md-12"><input type="submit" value="Add" /></div>
                    </div>
                </form>
            </div>
            <div class="add-sub-sub-category-from popup-form">
                <span class="close-btn"><i class="fa fa-remove"></i> Close</span>
                <strong>Category<span>Name</span></strong>
                <form>
                    <div class="row">
                        <div class="col-md-12"><input type="text" placeholder="" /></div>
                        <div class="col-md-12"><input type="text" placeholder="" /></div>
                        <div class="col-md-12"><input type="submit" value="Add" /></div>
                    </div>
                </form>
            </div>
            <!-- Sign Up Form -->
        </div>
    </div><!-- Popup -->

<!--    <div class="page-top" style="padding: 15px 0;">
        <div class="container">
            <div class="page-title">
                <div data-velocity="-.2" style="background: url(images/resource/parallax7.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible"></div> PARALLAX BACKGROUND IMAGE 
                <h2>SHOW REQUEST</h2>

            </div> Page Title 
        </div>
    </div> Page Top -->
<!--	<div class="page-top" style="padding: 15px 0;margin-top:150px;">
        <div class="container">
            <div class="page-title">
                <div data-velocity="-.2" style="background: url(images/resource/parallax7.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible"></div> PARALLAX BACKGROUND IMAGE 
                <h2>PICKUP DETAILS</h2>

            </div> Page Title 
        </div>
    </div>-->

    <div class="page-top">
        <div class="container">
            <div class="page-title">
                <div data-velocity="-.2" style="background: url(images/resource/parallax7.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible"></div><!-- PARALLAX BACKGROUND IMAGE -->
                <h2 style="margin-top: 53px;">Pick Up <strong> Details</strong></h2>
                <ul>
                    <li><a itemprop="url" href="index.html" title="">Home</a></li>
                    <li>pickup</li>
                </ul>
            </div><!-- Page Title -->
        </div>
    </div>




    <section >
        <div class="block gray" >
            <div class="container" >
                <div class="row">
                    <div class="col-md-12 column">
                        <div class="contact-box overlap">
                        
                            <div class="countries-contact">

                                <div class="tab-content" id="myTabContent">
                                     <form class="" method="post"  name="contactform">
					 <fieldset>
                                    <div id="country1" class="tab-pane fade active in">

                                       
                                        <div class="pick">PICKUP DETAILS: <span class="noteinpickup"> You can choose requested item that you are ready to deliver</span></div>

                                            

                        <div class='sdad scr' >
                             <p ng-show="showtable" class="notext">There is no pickup.</p>
                             <div class="diplaypickup"  ng-show='Volun_action'>
                                                      <table class="table tablepickup">
                                                    <thead>
                                                      <tr>
                                                       <th >Donor Name</th>
                                                       <th >Organization Name</th>
                                                       <th >Item</th>
<!--                                                       <th >Ngo Location: </th>-->
<!--                                                       <th >Requested Date</th>-->
                                                       <th >Needed By</th>
                                                       <th >Donated Quantity</th>
                                                      <!--  <th >Donated Date</th> -->
                                                       </tr>
                                                  </thead>
                                                  <tbody >
                                                        <tr dir-paginate="x in VOLN_data| itemsPerPage:5">
                                                          <!-- <td data-toggle="tooltip" title="{{x.Donar_loc}}">{{x.D_Name}} -->
                                                          <td>{{x.D_Name}}
                                                           <div style="font-weight: bold;">Address:</div>
                                                          <div class="nameaddress">{{x.Donar_loc}}</div>
                                                          <div style="font-weight: bold;">Contact Number:</div>
                                                          <div class="nameaddress">{{x.D_phone}}</div>

                                                          </td>
                                                          <!-- <td data-toggle="tooltip" title="{{x.Ngo_loc}}">{{x.ORG_NAme}} -->
                                                           <td>{{x.ORG_NAme}}
                                                          <div style="font-weight: bold;">Address:</div>
                                                            <div class="nameaddress">{{x.Ngo_loc}}</div>
                                                            <div style="font-weight: bold;">Contact Number:</div>
                                                            <div class="nameaddress">{{x.Ngo_phone}}</div>
                                                          </td>                                  
                                                          <td>{{x.IT_name}}</td>
<!--                                                          <td>{{x.Ngo_loc}}</td>-->
<!--                                                          <td>{{x.REQ_date | date : "yyyy-MM-dd"}}</td>-->
                                                          <td>{{x.NEED_time | date : "yyyy-MMM-dd"}}</td>
                                                          <td>{{x.Qun_Tity}}</td>
                                                          <!-- <td >{{x.DON_Date | date : "yyyy-MMM-dd"}}</td> -->
                                                          <td ng-show="x.delivery_status == 1"><button class="btn btn-success"  data-toggle="modal" data-target="#picku1p" ng-click="push_detais(x._picautoid,x.ORG_NAme,x.D_Name,x.IT_name,x.Qun_Tity,x.DON_Date,x.NEED_time,x.DON_id,x.ORGAS_id,x.ReQq__id,x._donation_ID,x.Ngo_loc,x.Donar_loc,x.Ngo_email,x.Ngo_phone,x.D_email,x.D_phone)"   value="Accept" style="margin-left: 23%;">Accept Pickup</button></td>
                                                          <td ng-show="x.delivery_status == 5" ><button class="btn btn-success"   style="margin-left: 23%;">Delivery Pending</button></td>
                                                          <td ng-show="x.delivery_status == 2" ><button class="btn btn-success"   style="margin-left: 23%;">Accept goods from Donor</button></td>
                                                          <td ng-show="x.delivery_status == 4" ><button class="btn btn-success"   style="margin-left: 23%;">Delivery Completed</button></td>
                                                        </tr>
                                                     </tbody>
                                                  </table>  
                                                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">

                                               </dir-pagination-controls>
                                               </div>
                        </div>         

						  
						   <!--show and hide divs-->
                                <div class='vol_action' ng-show='Volun_onload'>
                                  
                                            <fieldset>
                                                  
                                            <div class="row">
                                                   <form name="pickup" >
                                                <div class="col-md-3" >
                                                     <label for="contactperson">NGO Details:</label>
                                                     <div class="wordpick" >
                                                    <div class="form-group details">
<!--                                                        <label for="contactperson">NGO Name:</label>-->
<!--                                                        <input type="text" class="form-control" id="Org" name='Org' maxlength="20" ng-model="ONA" disabled >-->
                                                            {{ONA}}
                                                    </div>
                                                        
                                                     <div class="form-group" style="margin-left: 5%">
<!--                                                        <label for="NgoContact"> NGO Email </label>-->
<!--                                                        <input type="text" class="form-control" id="NgoContact" name='NgoContact' ng-model="NGOEM" disabled >-->
                                                            {{NGLO}}
                                                     </div>
                                                     <div class="form-group" style="margin-left: 5%;">
<!--                                                        <label for="NgoContact"> NGO Number:     </label>-->
<!--                                                        <input type="text" class="form-control" id="NgoContact" name='NgoContact' ng-model="NGOPHN" disabled >-->

                                                             {{NGOEM}} 
                                                     </div>
                                                     <div class="form-group" style="margin-left: 5%;">
<!--                                                        <label for="contactperson"> NGO Address: </label>-->
<!--                                                        <textarea type="text" cols="5" rows="3" class="form-control" ng-model="NGLO" disabled ></textarea>-->
                                                             {{NGOPHN}}
                                                     </div>
                                                   
                                               </div>
                                                     </div>
                                                 <div class="col-md-3" >
                                                     <label for="contactperson">Donor Details</label>
                                                      <div class="Donorpick">
                                                    <div class="form-group Donorpick1">
<!--                                                        <label for="contactperson">Donor Name:</label>-->
<!--                                                        <input type="text" class="form-control" id="Donor" name='Donor' maxlength="20" ng-model="DNA" disabled >
                                             -->              {{DNA}}
                                                    </div>
                                                     <div class="form-group" style="margin-left: 5%;">
<!--                                                        <label for="DonorContact"> Donor Email: </label>-->
<!--                                                        <input type="text" class="form-control" id="DonorContact" name='DonorContact' ng-model="DNOEmail" disabled >-->
                                                        {{DNLO}}
                                                     </div>
                                                     <div class="form-group" style="margin-left: 5%;">
<!--                                                        <label for="DonorContact"> Donor Number:     </label>-->
<!--                                                        <input type="text" class="form-control" id="DonorContact" name='DonorContact' ng-model="DNOPHN" disabled >-->
                                                                     {{DNOEmail}}    
                                                     </div>
                                                     <div class="form-group" style="margin-left: 5%;">
<!--                                                        <label for="contactperson"> Donor Address:</label>-->
<!--                                                        <textarea type="text" cols="5" rows="3" class="form-control" ng-model="DNLO" disabled ></textarea>-->
                                                             {{DNOPHN}}    
                                                     </div>
                                                  

                                                </div>
                                                     </div>
                                                <div class="col-md-3">
                                                  
                                                    <div class="form-group">
                                                        <label for="contactperson">Items:</label>
                                                        <input type="text" class="form-control" id="Items" name='Items' maxlength="20" ng-model="INA" disabled >
                                              
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="City">Needed By:</label>
                                                       <input type="text" class="form-control" value="{{NEDT| date : 'dd-MMM-yyyy'}}"  disabled>


                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Citys" data-valmsg-replace="true" id="valCity"></span>
                                                    </div>
                                               </div>
                                                <div class="col-md-3">
                                                     <div class="form-group">
                                                        <label for="contactperson"> Quantity:</label>
                                                        <input type="number" class="form-control" id="Quantity" name='Quantity' maxlength="20" ng-model="QAT" min="1" disabled >
                                                         
                                                    </div>

                                                     <div class="form-group">
                                                        <label for="City"  class="Astrik control-label">I Can Deliver By:</label>
                                                       <input type="date" class="form-control" name="InpickupDate" ng-model="SPT" placeholder="yyyy-mm-dd hh-mm-ss" >


                                                      
                                                    </div>
                                                    
                                                </div>
                                                 
                                               </form>
                                                
                                            </div>
                                                <div class="btnd"  align="center" >
                                                    <input type="submit" value="Submit" class="btn btn-success" ng-click="volunteerAccept()" ng-disabled="!SPT">
                                                    <input type="submit" value="Cancel" class="btn btn-danger"  ng-click="send_backvon()">
                                                </div>
                                           
                                           
                                            </fieldset>
                                  
                                           
                                </div>

                                </div>
                                     </fieldset>
                                    </form>                                 


                                </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   

</div><!-- Theme Layout -->



