<div data-role="content" ng-controller="myNeedscont">
  	<div class="container-fluid">
    <br>
    <button class="btn btn-info" ng-click="checkroleofuser()" data-toggle="tooltip" title="Resume registration">Go Back</button>
    <br>
    <br>
            <strong>Privacy Policy</strong>
                <p>We NeedsXchange, has created this statement in order to demonstrate our firm commitment to privacy. we value your trust & respect your privacy. This Privacy Policy provides you with details about the manner in which your data is collected, stored & used by us. You are advised to read this Privacy Policy carefully. By using the Needsxchange application/ website. you expressly give us consent to use & disclose your personal information in accordance with this Privacy Policy. If you do not agree to the terms of the policy, please do not use or access NeedXchange.</p>
                <p>Note: Our privacy policy may change at any time without prior notification. To make sure that you are aware of any changes, kindly review the policy periodically. This Privacy Policy shall apply uniformly to NeedXchange applications, desktop/mobile website.</p>
            <strong>General</strong>
                <p>We will not sell, share or rent your personal information to any 3rd party or use your email address/mobile number for unsolicited emails and/or SMS. Any emails and/or SMS sent by NeedXchange will only be in connection with the provision of agreed services & products and this Privacy Policy.</p>
                <p>Periodically, we may reveal general statistical information about NeedXchange & its users, such as number of visitors, number and type of goods and services as a donor and volunteer, NGO requirement etc. We reserve the right to communicate your personal information to any third party that makes a legally-compliant request for its disclosure.</p>
        
            <strong>Personal Information</strong>
                <p>Personal Information means and includes all information that can be linked to a specific individual or to identify any individual, such as name, mailing address, gender, DOB, address, mobile no. email ID, and any details that may have been voluntarily provide by the user in registration process with availing any of the services on NeedXchange.</p>
                
            <strong>Use of Personal Information</strong>
                <p>We use personal information to provide you with services & items you explicitly requested for, to resolve disputes, troubleshoot concerns, measure consumer interest in our services, inform you about required notification, enforce our terms and conditions, etc.</p>
                <p>We also use your contact information to send you notification based on your previous request and services.</p>
                    
            <strong>Cookies</strong>
                <p>A "cookie" is a small piece of information stored by a web server on a web browser so it can be later read back from that browser. NeedXchange uses cookie and tracking technology depending on the features offered. No personal information will be collected via cookies and other tracking technology; however, if you previously provided personally identifiable information, cookies may be tied to such information. Aggregate cookie and tracking information may be shared with third parties.</p>
                
            <strong>Links to Other Sites</strong>
                <p>Our site links to other websites that may collect personally identifiable information about you. NeedXchange is not responsible for the privacy practices or the content of those linked websites.</p>
                
            <strong>Security</strong>
                <p>NeedXchange has stringent security measures in place to protect the loss, misuse, and alteration of the information under our control. Whenever you change or access your account information, we offer the use of a secure server protecting it against unauthorized access.</p>
              
            <strong>Consent</strong>
                <p>By using NeedXchange application and/or by providing your information, you consent to the collection and use of the information you disclose on NeedXchange in accordance with this Privacy Policy, including but not limited to your consent for sharing your information as per this privacy policy.</p>
                <p>We are required to send you OTP to confirm that respected request/pickup/delivery service completion. You will receive this verification call even if your number is registered for the Do Not Disturb (DND) option.</p>
                <p>In case you have any further questions or concerns about our Privacy Policy, please
				<a href="#contactus"> <b>Contact Us</b></a>
            
        </div>
  </div> 

