



<div class="theme-layout" ng-controller="RegCOntroller" ng-init="getall_details()">
    <div ng-include=" 'views/common/header.html' "></div>
   <div ng-include=" 'views/common/responsiveheader.html' "></div>
	
	<div class="row"><!-- profile detail -->
		<div class="row" style="" >
			<img itemprop="image" src="{{Image}}" alt="" style=" margin-left: 41%; border-radius: 1%;   text-align: center;  width: 22%;">
                        
                        <div class="profile_text" style="text-align:center; padding:1%; border-radius: 1%; width: 21%; margin:-2% 0% 0% 41.5%; position:relative; z-index:1; height:100px; background-color:white;">
				<p style="font-size:12pt;"><b> {{User_name}} </b></p>
				<a> {{Ema_il}} </a>
				<p> 8894858462 </p>
			</div>
		</div>
		<div class=" row confirmation_section" style="text-align:center;margin-top:2%;"  >

		<button type="submit" id="submit" style="width:8%;" class="btn btn-success" >Edit</button>
		<button type="submit" id="submit" style="width:8%;" class="btn btn-success">Look Good</button>
	
		</div>
	</div> <!-- End of profile detail -->

    
    



   




   




</div><!-- Theme Layout -->



<!-- SCRIPTS-->
<script type="text/javascript" src="js/modernizr.custom.17475.js"></script>
<script src="js/jquery-2.1.4.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.poptrox.min.js" type="text/javascript"></script>
<script src="js/jquery.scrolly.js"></script>
<script src="js/jquery.knob.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/isotope-initialize.js"></script>
<script src="js/jquery.plugin.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/select2.min.js"></script>
<script src="js/enscroll-0.5.2.min.js"></script>

<!-- Scripts For Layer Slider  -->
<script src="layerslider/js/greensock.js" type="text/javascript"></script>
<script src="layerslider/js/layerslider.transitions.js" type="text/javascript"></script>
<script src="layerslider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>

<script>
    jQuery(document).ready(function( $ ) {
        /* ============ LAYER SLIDER ================*/
        jQuery("#layerslider").layerSlider({
            responsive: true,
            responsiveUnder: 1280,
            layersContainer: 1170,
            skin: 'fullwidth',
            hoverPrevNext: true,
            skinsPath: 'layerslider/skins/'
        });


        /* ============ Welfare Projects Carousel ================*/
        $('.welfare-projects-carousel').owlCarousel({
            autoplay:true,
            autoplayTimeout:2500,
            smartSpeed:2000,
            autoplayHoverPause:true,
            loop:true,
            dots:false,
            nav:false,
            margin:0,
            mouseDrag:true,
            items:4,
            autoHeight:true,
            responsive : {
                0 : {items : 1},
                480 : {items :2},
                768 : {items : 3},
                1200 : {items : 4},
            }
        });


        /* ============ Sponsors Carousel ================*/
        $('.sponsors-carousel').owlCarousel({
            autoplay:true,
            autoplayTimeout:2500,
            smartSpeed:2000,
            loop:true,
            dots:false,
            nav:true,
            margin:10,
            mouseDrag:true,
            items:5,
            autoHeight:true,
            responsive : {
                0 : {items : 1},
                480 : {items :2},
                768 : {items : 3},
                1200 : {items : 5},
            }
        });




        /* ============ Count Down Timer ================*/
        $(function () {
            var date = new Date();
            date = new Date(2017, 4 - 1, 12);
            $('.count-down').countdown({until: date});
        });
        $(function () {
            var date2 = new Date();
            date2 = new Date(2016, 4 - 1, 12);
            $('.count-down2').countdown({until: date2});
        });

    });
</script>
<script src="js/script.js"></script>

