<div ng-include=" 'views/common/header.html' "></div>
<div class="theme-layout" ng-controller="InventoryController" ng-init="getSelectedData();getOrgName();getItems();getallReqdetails()">
  <div ng-include=" 'views/common/responsiveheader.html' "></div>
    <div class="popup">
        <div class="popup-centre">
            <div class="signup-form popup-form">
                <span class="close-btn"><i class="fa fa-remove"></i> Close</span>
                <strong>JOIN FOR <span>DONATION</span></strong>
                <p>Quis autem velum iure reprehe nderit. Lorem ipsum dolor sit nulla or narjusto laoreet onse ctetur adipisci.</p>
                <form>
                    <div class="row">
                        <div class="col-md-12"><input type="text" placeholder="First Name" /></div>
                        <div class="col-md-12"><input type="text" placeholder="Last Name" /></div>
                        <div class="col-md-12"><input type="email" placeholder="youremail@yourdomain.com" /></div>
                        <div class="col-md-12"><input type="password" placeholder="Password" /></div>
                        <div class="col-md-12"><p>By creating an account, you agree to our <a itemprop="url" href="#" title="">Terms & Conditions.</a></p></div>
                        <div class="col-md-12"><input type="submit" value="Create Account" /></div>
                    </div>
                </form>
            </div><!-- Sign Up Form -->
            <div class="login-form popup-form">
                <span class="close-btn"><i class="fa fa-remove"></i> Close</span>
                <strong>LOGIN FOR <span>DONATION</span></strong>
                <p>Quis autem velum iure reprehe nderit. Lorem ipsum dolor sit nulla or narjusto laoreet onse ctetur adipisci.</p>
                <form>
                    <div class="row">
                        <div class="col-md-12"><input type="email" placeholder="youremail@yourdomain.com" /></div>
                        <div class="col-md-12"><input type="password" placeholder="Password" /></div>
                        <div class="col-md-12"><p><a itemprop="url" href="#" title="">Forget Password</a></p></div>
                        <div class="col-md-12"><input type="submit" value="LOG IN" /></div>
                    </div>
                </form>
            </div><!-- Sign Up Form -->
            <div class="add-inventory-form popup-form">
                <span class="close-btn"><i class="fa fa-remove"></i> Close</span>
                <strong>Category<span>Name</span></strong>
                <form>
                    <div class="row">
                        <div class="col-md-12"><input type="text" placeholder="" /></div>
                        <div class="col-md-12"><input type="submit" value="Add" /></div>
                    </div>
                </form>
            </div>
            <div class="add-subcategory-from popup-form">
                <span class="close-btn"><i class="fa fa-remove"></i> Close</span>
                <strong>Category<span>Name</span></strong>
                <form>
                    <div class="row">
                        <div class="col-md-12"><input type="text" placeholder="" /></div>
                        <div class="col-md-12"><input type="text" placeholder="" /></div>
                        <div class="col-md-12"><input type="submit" value="Add" /></div>
                    </div>
                </form>
            </div>
            <div class="add-sub-sub-category-from popup-form">
                <span class="close-btn"><i class="fa fa-remove"></i> Close</span>
                <strong>Category<span>Name</span></strong>
                <form>
                    <div class="row">
                        <div class="col-md-12"><input type="text" placeholder="" /></div>
                        <div class="col-md-12"><input type="text" placeholder="" /></div>
                        <div class="col-md-12"><input type="submit" value="Add" /></div>
                    </div>
                </form>
            </div>
            <!-- Sign Up Form -->
        </div>
    </div><!-- Popup -->

<!--    <div class="page-top" style="padding: 15px 0;">
        <div class="container">
            <div class="page-title">
                <div data-velocity="-.2" style="background: url(images/resource/parallax7.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible"></div> PARALLAX BACKGROUND IMAGE 
                <h2>SHOW REQUEST</h2>

            </div> Page Title 
        </div>
    </div> Page Top -->
<!--	<div class="page-top" style="padding: 15px 0;margin-top:150px;">
        <div class="container">
            <div class="page-title">
                <div data-velocity="-.2" style="background: url(images/resource/parallax7.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible"></div> PARALLAX BACKGROUND IMAGE 
                <h2>REQUEST</h2>

            </div> Page Title 
        </div>
    </div>-->
<div class="page-top">
        <div class="container">
            <div class="page-title">
                <div data-velocity="-.2" style="background: url(images/resource/parallax7.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible"></div><!-- PARALLAX BACKGROUND IMAGE -->
                <h2 style="margin-top: 53px;"> <strong>Request</strong></h2>
                <ul>
                    <li><a itemprop="url" href="index.html" title="">Home</a></li>
                    <li>showrequest</li>
                </ul>
            </div><!-- Page Title -->
        </div>
    </div>




    <section>
        <div class="block gray" >
            <div class="container" >
                <div class="row">
                    <div class="col-md-12 column">
                        <div class="contact-box overlap">
                            <!--  <div class="title">
                                  <h2>Add <span>Inventory</span></h2>
                                  <span>Committed To Providing The Best</span>
                              </div>-->
                            <div class="countries-contact">

                                <div class="tab-content" id="myTabContent">
                                    <div id="country1" class="tab-pane fade active in">

										
                                      <form>
                                            <fieldset>
                                               <div class="container">
                                                     <p ng-show="ngoreq" class="notext">There is no request.</p>
                                                       <button type="button" class="btn btn-primary" 
                                                 ng-show = "requestbtn" align= "right" style="margin-top: 1%;"  ng-click="dis_requsetdiv()">Add Request</button>      
                                           <div class="tba" ng-show="NGO_table ">
                                                                          
                                                         
                                                 <table class="table "  style="margin-left: -5.6%;">
                                                  <thead>
                                                    <tr>
<!--                                                  <p ng-show="records">There are no records found</p>-->
                                                      <th>Item name</th>
                                                      <th>Required Quantity</th>
<!--                                                      <th>Donated Quantity</th>-->
                                                      <th>Donated Quantity</th>
                                                      <th>Needed By</th>
                                                      <th>Purpose</th>
                                                      <th></th>
                                                      <th></th>
                                                    </tr>
                                                  </thead>
                                                  <tbody >
                                                    <tr data-toggle="collapse" href="#collapse1" dir-paginate="req in ngoallrequests | itemsPerPage:5" >
                                                        
                                                       <td>{{req.ngoitemname}}</td>
<!--                                                       <td>{{req.Requiredqunatity}}</td>-->
                                                      <td>{{req.totalquantity}}</td>
                                                      <td>{{req.donatedquantity}}</td>
                                                      <td>{{req.ngoneeded |  date: "dd-MMM-yyyy"}}</td>
                                                      <td>{{req.ngopurpose}}</td>
                                                       <td ng-hide="req.ngostatus == 3 || req.ngostatus == 1 || req.ngostatus == 5 || req.ngostatus == 4"><button class="btn btn-success don" value="Accept">Request Created</button></td>
                                                      <td width="15%" ng-show=" req.ngostatus == 1 " ><button class="btn btn-success " value="Accept">Request Accepted</button></td>
<!--                                                      <td width="15%" ng-show="req.ngostatus == 3 || req.ngostatus == 1  || req.ngostatus == 2"><button class="btn btn-success " value="Accept">Request Accepted</button></td>-->
                                                       <td ng-show="req.ngostatus == 3  || req.ngostatus == 5"><button class="btn btn-success " value="Accept" ng-click="acceptrequest(req.ngoreqid,req.ngoorganisationid,req.pickupreqdonationid,req.pickupreqautoid)">Accept Delivery</button></td>
                                                       <td width="15%" ng-show="req.ngostatus == 4"><button class="btn btn-success " value="Accept">Request Completed</button></td>
                                                     
                                                    </tr>   
                                                    
                                                  </tbody>  
                                                  
                                                </table>
                                              
                                                <div class="row">
                                                    <div class="col-md-6" >
                                                  <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" ng-show="pagination">
                                                      
                   
                                                 </dir-pagination-controls>
                                                        </div>

                                                   <div class="col-md-6"> 
                                                 <button type="button" class="btn btn-primary" 
                                                 ng-show = "onacceptbtnclick" style="margin-top: 4%;margin-left:62%;"  ng-click="dis_requsetdiv()">Add Request</button>                 
                                              </div>
                                                    </div>
                                                    </div>
                                                   </div>
                                           </fieldset>
<!--                                              <button type="button" class="btn btn-primary" style="margin-left: 95%;" ng-click="dis_requsetdiv()">Add Request</button>-->
                                        </form>
                                        <div  ng-show="request_div">
                                        <form name="pickup">
                                           <fieldset>
                                            <legend style="color:#42b3e5; font-size:16px;">REQUEST:<span style="font-size:10pt; color:#000;">   You can request the items which you require for your respective organizations</span></legend>
                                            <div class="row" ng-init="categeorys()">
                                                <div class="col-md-3">
                                                   <div class="form-group">
                                                        <label for="Pincode" class="Astrik control-label">Category:</label>
                                                     <select  class="form-control" ng-model="option1" ng-options="option for option in name" ng-change="cate_id()">
                                                          <option value="">-- choose --</option>
                                                              </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="City" class="Astrik control-label">Needed By:</label>
                                                       <input type="date" class="form-control" name="setTodaysDate2" ng-model="needed_By" placeholder="yyyy-mm-dd hh-mm-ss">


                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Citys" data-valmsg-replace="true" id="valCity"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Landmark" class="Astrik control-label">Purpose:</label>
                                                       <textarea  rows=5 columns=4 class="form-control" id="purp" name='purpose' maxlength="50" ng-model="purpose" placeholder="enter 1000 characters   " required ></textarea>
                                                    </div>

                                               </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="Gender" class="Astrik control-label">Sub-Category:</label>
                                                       <select  class="form-control" ng-model="option2" ng-options="s for s in SubCategiries" ng-change="cate_id()">
                                                        <option value="">-- choose --</option>
                                                         </select>
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Contactpersongender" data-valmsg-replace="true" id="valGender"></span>
                                                    </div>
                                                     <div class="form-group">
                                                        <label for="Pincode">Recurring:</label><br>
                                                        <input type="checkbox" value="yes" id="select" ng-model="Rec_urring" >

                                                    </div>
                                                    

                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="contactperson" class="Astrik control-label">Item Name:</label>
                                                        <input type="text" class="form-control" id="hhdf" name='item_Name' maxlength="2000" ng-model="Item_Name" required >
                                                <!--          <p ng-show="Req_form.item_Name.$error.maxlength" class="help-block" style="color:red">item Name is too long.</p>-->
                                                      <!--  <span ng-show="Req_form.item_Name.$touched && Req_form.item_Name.$invalid" style="color:red">This field is required.</span> -->
                                                    </div>
                                                    <div class="form-group"  ng-hide="!Rec_urring">
                                                        <label for="Pincode">Frequency:</label>
                                                     
                                                       <select class="form-control" name="items" ng-model="freq" ng-change="selectFreq()">
                                                                <option value="">Select:</option>
                                                                <option value="1">Daily</option>
                                                                <option value="2">Weekly</option>
                                                                <option value="3">Monthly</option>
                                                                <option value="4">Yearly</option>
                                                                  </select>

                                                    </div>

                                               </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="Pincode" class="Astrik control-label">Total Quantity Needed:</label>
                                                        <input type="number" class="form-control" id="tqnt" min="1" ng-model="totQuant" name="To_tal" >

                                                    </div>
                                                    
      
                                                    
                                                </div>
                                                
                                            </div>
                                           
                                            </fieldset>
                                            </form>
                                             <div class="btnd" style="margin-top: 22px;" align="center" >
                                                    <input type="submit" class="btn btn-success" ng-click="push_item()" ng-disabled="pickup.$invalid">
                                                    <input ng-show="withreqdata" type="button" value="Cancel" class="btn btn-danger"  ng-click="send_backvNgo()">
                                                     <input ng-show="withoutreqdata" type="button" value="Cancel" class="btn btn-danger"  ng-click="backtoagain()">
                                                </div>
<!--                                           <input type="submit" class="btn btn-primary" style="margin-left: 47%;margin-top: 21px;" ng-click="push_item()" ng-disabled="contactform.$invalid">-->
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   

</div><!-- Theme Layout -->



