<div class="theme-layout" ng-controller="RegCOntroller" ng-init="getall_details()">
 <header class="stick" style="margin-bottom: 0px!important;" ng-controller="myNeedscont">
        <div class="topbar dark" ng-init="ndFunction();getall_details()">
              <!--with login-->
            <div class="container" ng-show="withLogin">
                <ul class="inline-list">
<!--                    <li><i class="fa fa-home"></i>#405 Hyderabad</li>-->
                    <li><i class="fa fa-phone"></i>+91 9701384004</li>
                </ul><!-- Address -->


                <nav class="sign-up">

                <ul class="inline-list registration-btn pull-right resp">
                    <li><a class="login-btn1" href="#" title=""><img class="profile-Img" src="{{Image}}" id="userName"> &nbsp&nbsp    {{User_name}}</a>
                  <ul class="sign" style="">
                        <li><a itemprop="url" class="login-btn1" href="#profile" title="">Profile</a></li>
                      
                        <li><a class="login-btn1" ng-click="Logout()" id="VOLUNTEERS">Logout</a></li>
                      </ul>
                </ul>
                  
                </nav>
                <!-- Signup Or Login -->
            </div>
            <!-- End of with login-->
              <!--without login-->
              
               <div class="container" ng-show="withoutLogin">
                <ul class="inline-list">
<!--                    <li><i class="fa fa-home"></i>#405 Hyderabad</li>-->
                    <li><i class="fa fa-phone"></i>+91 9701384004</li>
                </ul><!-- Address -->


                <nav class="sign-up">

<!--                <ul class="inline-list registration-btn pull-right resp">
                    <li><a  class="login-btn" href="#login" title=""><i class="fa fa-sign-in"></i>LOGIN</a></li>

                </ul>-->
                    <ul class="inline-list registration-btn pull-right resp" ng-controller="RegCOntroller">
                    <li><a itemprop="url" class="signup-btn" href="#" title=""><i class="fa fa-user"></i>Login</a>
                      <!-- <ul class="sign">

                        <li><a class="login-btn" ng-click="Register('NGO')" id="NGO">NGO</a></li>
                      
                        <li><a class="login-btn" ng-click="Register('Donor_Volunter')" id="VOLUNTEERS">DONOR/VOLUNTEERS</a></li>
                      </ul> -->
                    </li>
                  </ul>
                </nav>
                <!-- Signup Or Login -->
            </div>
              <!-- End of without login-->
        </div><!-- Top Bar -->
        <div class="menu">
            <div class="container">
                <div class="logo"><a itemprop="url" href="#" title=""><img itemprop="image" src="images/needsXchange-3.png" alt="" /></a></div>

               <nav>
                    <!--<a itemprop="url" class="theme-btn call-popup" href="#" title="">DONATE NOW</a>-->
                    <a itemprop="url" class="theme-btn " href="#" title="">DONATE NOW</a>
                    <ul>
                         <li ng-class="{ active: isActive('/home') }"><a href="#home" itemprop="url" title="">Home</a></li>
                        <li ng-class="{ active: isActive('/aboutus') }"><a itemprop="url" href="#aboutus" title="">About Us</a></li>
                        <li ng-class="{ active: isActive('/gallery') }"><a itemprop="url" href="#gallery" title="">How It Works</a> </li>
                             <li ng-show="NGO_header1" class="menu-item-has-children" ><a itemprop="url" href="#CurrentRequests" title=""> Needs Request</a>
<!--                            <ul>
                              <li><a itemprop="url" href="#showrequest" title="">Add Inventory</a></li>
                                <li><a itemprop="url" href="#Response" title="">Check Inventory</a></li>
                                <li><a itemprop="url" href="#showrequest" title="">Make Request</a></li>
                               
                            </ul>-->
                            </li>
                            <li ng-show="NGO_header" class="menu-item-has-children" ng-class="{ active: isActive('/showrequest') }"><a itemprop="url" href="#showrequest" title=""> Needs Request</a>
<!--                            <ul>
                              <li><a itemprop="url" href="#showrequest" title="">Add Inventory</a></li>
                                <li><a itemprop="url" href="#Response" title="">Check Inventory</a></li>
                                <li><a itemprop="url" href="#showrequest" title="">Make Request</a></li>
                               
                            </ul>-->
                            </li>
                       <li ng-show="Donor_header" ng-class="{ active: isActive('/CurrentRequests') }"><a itemprop="url" href="#CurrentRequests" title="">View Requests</a></li>
                       <li ng-show="Volunter_header" ng-class="{ active: isActive('/pickup') }"><a itemprop="url" href="#pickup" title="">View Pickup</a></li>
                       <li ng-class="{ active: isActive('/FAQS') }"><a itemprop="url" href="#FAQS" title="">FAQ</a></li>
                        <li ng-class="{ active: isActive('/contactus') }"><a itemprop="url" href="#contactus" title=""> Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </div><!-- Menu -->
    </header><!-- Header -->
    
</div>