 <div id="responsive-header" ng-controller="RegCOntroller" ng-init="getall_details()">

      <header class="resp">
      	      <nav class="sign-up">
<!--       	      <ul class="inline-list registration-btn pull-right"  style="padding: 5px 0;">
             <li><a itemprop="url" class="login-btn" href="#login" title=""><i class="fa fa-sign-in"></i>LOGIN</a></li>

			</ul>-->
          <ul class="inline-list registration-btn pull-right resp" >
               <li id="pho"><i class="fa fa-phone phone "></i>+91 9701384004</li>
               
                    <li><a itemprop="url" class="signup-btn" href="#" title=""><i class="fa fa-sign-in"></i>LOGIN</a>
                      <ul class="sign">
                  <li><a ng-click="Register('NGO')" id="NGO">NGO</a></li>
<!--                      <li><a ng-click="Register('Donor_Volunter')" id="VOLUNTEERS">DONOR/VOLUNTEERS</a></li>
                        <li><a class="login-btn" ng-click="Register('NGO')" id="NGO">NGO</a></li>-->
                      
                        <li><a class="login-btn" ng-click="Register('Donor_Volunter')" id="VOLUNTEERS">DONOR/VOLUNTEERS</a></li>
                      </ul>
                    </li>
                    <li><a itemprop="url" class="theme-btn call-popup donate donatenow" href="#" title="" style=" ">DONATE NOW</a></li>
          </ul>
		   </nav>
       </header>
        
        <div id="responsive-menu" style="padding-top: 0px!important;">
            

            <div class="logo"><a itemprop="url" href="index.html" title=""><img itemprop="image" src="images/needsXchange-3.png" alt="" /></a></div>

            <span class="open-menu"><i class="fa fa-align-justify"></i></span>

            <div class="menu-links">
                 <ul ng-controller="myNeedscont" ng-init="ndFunction()">
                     <li ng-class="{ active: isActive('/home') }"><a href="#home" itemprop="url" title="">Home</a></li>
                        <li ng-class="{ active: isActive('/aboutus') }"><a itemprop="url" href="#aboutus" title="">About Us</a></li>
                        <li ng-class="{ active: isActive('/gallery') }"><a itemprop="url" href="#gallery" title="">How It Works</a> </li>
                             <li ng-show="NGO_header1" class="menu-item-has-children" ><a itemprop="url" href="#CurrentRequests" title=""> Needs Request</a>
<!--                            <ul>
                              <li><a itemprop="url" href="#showrequest" title="">Add Inventory</a></li>
                                <li><a itemprop="url" href="#Response" title="">Check Inventory</a></li>
                                <li><a itemprop="url" href="#showrequest" title="">Make Request</a></li>
                               
                            </ul>-->
                            </li>
                            <li ng-show="NGO_header" class="menu-item-has-children" ng-class="{ active: isActive('/showrequest') }"><a itemprop="url" href="#showrequest" title=""> Needs Request</a>
<!--                            <ul>
                              <li><a itemprop="url" href="#showrequest" title="">Add Inventory</a></li>
                                <li><a itemprop="url" href="#Response" title="">Check Inventory</a></li>
                                <li><a itemprop="url" href="#showrequest" title="">Make Request</a></li>
                               
                            </ul>-->
                            </li>
                       <li ng-show="Donor_header" ng-class="{ active: isActive('/CurrentRequests') }"><a itemprop="url" href="#CurrentRequests" title="">View Requests</a></li>
                       <li ng-show="Volunter_header" ng-class="{ active: isActive('/pickup') }"><a itemprop="url" href="#pickup" title="">View Pickup</a></li>
                       <li ng-class="{ active: isActive('/FAQS') }"><a itemprop="url" href="#FAQS" title="">FAQ</a></li>
                        <li ng-class="{ active: isActive('/contactus') }"><a itemprop="url" href="#contactus" title=""> Contact Us</a></li>
<!--                          <li class="active"><a itemprop="url" href="#home" title="">Home</a></li>
                        <li><a itemprop="url" href="#aboutus" title="">About Us</a></li>
                        <li><a itemprop="url" href="#gallery" title="">How It Work</a> </li>
                          <li><a itemprop="url" href="#currentRequest" title="">Needs Request</a> </li>

                            <li ng-show="NGO_header" class="menu-item-has-children"><a itemprop="url" href="#showrequest" title="">  NEEDS REQUEST</a>
                            <ul>
                              <li><a itemprop="url" href="#showrequest" title="">Add Inventory</a></li>
                                <li><a itemprop="url" href="#Response" title="">Check Inventory</a></li>
                                <li><a itemprop="url" href="#showrequest" title="">Make Request</a></li>
                               
                            </ul>
                            </li>
                       <li ng-show="Donor_header"><a itemprop="url" href="#request" title="">View Request</a></li>
                       <li ng-show="Volunter_header"><a itemprop="url" href="#pickup" title="">View Pickup</a></li>
                       <li><a itemprop="url" href="#FAQS" title="">FAQ</a></li>
                       <li><a itemprop="url" href="#contactus" title="">Contact Us</a></li>-->
                        
<!--                        <li><a itemprop="url" class="signup-btn" href="#" title="">LOGIN</a>
                      <ul class="sign">
                  <li><a ng-click="Register('NGO')" id="NGO">NGO</a></li>
                      <li><a ng-click="Register('Donor_Volunter')" id="VOLUNTEERS">DONOR/VOLUNTEERS</a></li>
                        <li><a class="login-btn" ng-click="Register('NGO')" id="NGO">NGO</a></li>
                      
                        <li><a class="login-btn" ng-click="Register('Donor_Volunter')" id="VOLUNTEERS">DONOR/VOLUNTEERS</a></li>
                      </ul>
                    </li>-->
      
   
<!--                       <li><a itemprop="url" class="signup-btn sign-up " title="">LOGIN</a>
                       <ul class="sign">
                        <li><a class="login-btn" ng-click="Register('NGO')" id="NGO">NGO</a></li>
                       <li><a class="login-btn" ng-click="Register('Donor_Volunter')" id="VOLUNTEERS">DONOR/VOLUNTEERS</a></li>
                      </ul>
                    </li>-->
                  
                    </ul>
              
            </div>
            
        </div><!-- Responsive Menu -->
    </div><!-- Responsive Header -->